// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1247px;
$tablet-l-width2	: 1200px;
$tablet-m-width		: 1023px;
$tablet-s-width		: 767px;
$mob-m-width		: 480px;
$mob-s-width		: 375px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿
@mixin tab2 {
	@media screen and (max-width: #{$tablet-l-width2}) {
		@content;
	}
}
// 태블릿
@mixin tab-middle {
	@media screen and (max-width: #{$tablet-m-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

//------------------------------------------------------------------------------

// 1200px;
@include tab2{
	.v3{
		// 개설한프로젝트
		&.project{
			.fixed_btn{display: none;}
			.no_data{padding:48px 0;}
		}
		// 약관확인
		&.terms_check{
			.btn_wrap{width:384px;}
		}
		// 투자준비하기
		&.invest_page{
			.prepare_ul{
				li .li_top_wrap{padding-bottom: 55px;
					button{bottom:0;top:unset;transform:unset;}
				}
				li .li_top_wrap + p{margin-top:32px;}
				.address_li>p{text-align:left;line-height: 1.5;}
				.address_li>p br{display: block;}
			}
		}
		// 법인회원투자준비
		&.invest_prepare2{
			.btn_wrap{width:384px;}
		}
	}
	
}
// 1023px;
@include tab-middle{
	.v3{
		// 개설한프로젝트
		&.project {
			.gray_ul{display:none;}
			.top_box h1{margin:36px 0 68px;}
			.pro_list>li{width:calc(50% - 12px);}
			.pro_list>li:nth-child(2n){margin-right:0px !important;}
			.pro_list>li:nth-child(3n){margin-right:24px;}
		}
		// 약관확인
		&.terms_check{
			.title_wrap{width:100%;}
		}
		// 법인회원투자준비
		&.invest_prepare2{
			.title_wrap{width:100%;}
		}
		
	}
	
}

// 767px
@include tab-small{
	.v3{
		// 개설한프로젝트
		&.project {
			.tab_ul{width:100%;}
			.gray_bg{padding:24px 0 0;}
			.pro_list>li{width:100%;min-height:164px;}
		}
		// 피드백
		&.feedback{
			.feedback_li {padding:10px 16px;border-color:#fff;}
			.feedback_li span{font-size:13px;}
			.feedback_li p{font-size:15px;}
			.detail_wrap .detail{padding:24px 16px;}
		}
		// 투자자현황
		&.investor_state{
			.gray_bg{padding:0 16px;margin-top:50px;}
			.api_box{width:calc(100% + 38px);float: none;margin-left:-16px;}
			.list_box{width:100%;float: none;margin-top:24px;}
		}
		// 투자자의견
		&.investor_opinion{
			.gray_bg{padding:16px;}
			.opinion_list{width:100%;}
			.detail_wrap{display:none;}
			.comment_wrap .input_wrap .feel_box button{width:76px;}
		}
		&.investor_opinion.mo_opinion .detail_wrap{display:block;width:100%;margin-top:50px;}
		// 새소식관리
		&.news{
			.gray_bg{padding:24px 16px;}
			.news_wrap{width:100%;
				.title_box{padding:10px 0px;}
			}
			.detail_wrap{display:none;}
		}
		&.news.mo_news .detail_wrap{display:block;width:100%;margin-top:50px;}
		&.news_write{
			.gray_bg{padding: 40px 16px 24px;}
			.left_wrap{width: 100%;}
			.right_wrap{width: 100%;margin-top:16px;}
		}
		// 결산자료제출
		&.v3_data{
			.gray_bg{padding:16px;}
			.not_season>div{width:100%;}
			.not_season .right_box{margin-top:24px;}
			.season_box{
				.info_box .pro_content .top_box{width:100%;}
				.info_box .pro_content .bottom_box{width:100%;margin-top:0px;}
				.bd_box .left{margin-bottom:0px;}
				.bd_box .right .write_box {margin-top:0 !important;padding-top:0px;}
				.bd_box .right.file_box {margin-top:16px !important;}
				.red_box ul{width:100%;}
			}
		}
		// 약관확인
		&.terms_check{
			.terms_wrap{width:100%;margin-top:32px;
				.agree_box .agree_wrap .oc-scrollbar-container{margin-top:16px;}
				.agree_box .agree_wrap .txt_box2{padding:0 8px;}
			}
		}
		// 법인회원투자준비
		&.invest_prepare2{
			.wrap>div{width:100%}
			.wrap .right{margin-top:24px;}
			.btn_wrap{width:100%;}
		}
	}
	// 투자정보입력
	.invest_page.step{
		.cont.card_cont .card_box>div{width:100%;}
		.cont.card_cont .card_box .left{padding:24px 16px;}
		.cont.card_cont .card_box .left .card{width:100%;}
		.cont.card_cont .card_box .left .card .bottom>div{margin-top:20px;}
		.cont.card_cont .card_box .left .card .bottom .refresh_btn{margin-top:28px;}
	}
	
}

// 480px
@include mob{
	.v3{
		// 약관확인
		&.terms_check{
			.btn_wrap{width:100%;}
		}
		
	}
	
}