// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1200px;
$tablet-m-width		: 1023px;
$tablet-s-width		: 768px;
$mob-m-width		: 480px;
$mob-s-width		: 375px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿
@mixin tab-middle {
	@media screen and (max-width: #{$tablet-m-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

//------------------------------------------------------------------------------


@include pc-only{
  .mo_none {display: block;}
  .mo_only {display: none;}
}
@include tab{
	.mo_only {display: none;}
	.overflow-div {overflow-y: auto; margin: auto;
		.tab_wrap {
			white-space: nowrap;
			li {width: 100px;}
		}
	}  

	.invest_page.index .section .container {width: calc(100% - 38px); margin: 0 auto;}

	header .pc_header.container .left_box .center {min-width: 500px;}
	header .pc_header.container .left_box .center li {width: 130px;}

	//index------------------------------------------
	.index.main{
		.section3{
			.box_list li {
				height: 335px;
				margin-bottom: 10px;
				p {font-size: 16px;}
			}
		}
		.section4 {
			.container {margin-top: 100px;}
		}
	}
	  ///.index.main .section3 .box_list
	  .index.main .section3 .box_list li:first-child {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}
	.index.main .section3 .box_list li:nth-child(2){
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}
	.index.main .section3 .box_list li:nth-child(3) {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}	
	.invest_index .btn_wrap button.submit {width: 100%;}


	///투자하기 상세
	.invest_detail .title_area .text_box {width: 100%; float: none; }
	.invest_detail .img_slider_wrap {width: 100%; height: 218px; float: none !important ; margin-bottom: 16px;}
	.invest_detail .title_area .img_box {
		width: 100%; height: 100%;
		text-align: center;
		img{
			max-width: 100%;
			
		}
	}
	.invest_detail .title_area {display: block;}

	//투자하기 step1 
	.step1 .slide_area {margin: 40px 0 85px;}
	.step1 .swiper-container {width: 90%;}

}
@include tab-middle(){
	.detail_container {width: calc(100% - 38px); margin: 0 auto;}
	header .pc_header.container .left_box .logo {width: 100px;
		img {width: 100%;}
	}
	header .pc_header.container .left_box .center {min-width: 230px;}
	header .pc_header.container .left_box .center li {width: 80px;}
	header .pc_header.container .left_box .center li .menu {font-size: 14px;}

}

@include tab-small(){
  .pc_none {display: block;}
  .mo_none {display: none !important;}
  .mo_only {display: none;}
 


//default css--------------------------------------------------------------------------
 
  .container {
	width: calc(100% - 38px);
	margin: 0 auto;
  }

  ///INDEX-------------------------------------------------------------------

  .index.main{
	.title {font-size: 30px;	}
	.sub_title {font-size: 14px;}
	.main_banner_wrap{
		.main_banner{
			li{
				.text{
					left: 16px; 
					top: 40px; 
					transform: unset;
					h1 {font-size: 30px;}
					p {font-size: 15px;}
					button {padding: 8px 16px; font-size: 14px; }
				}
				img {
					width: auto;
					height: 100%;
				}
			}
		}
		.dot_wrap {
			width: calc(100% - 38px);
			li{width: calc(33.333% - 8px);}
		}
	}
	.section2 {
		.gray_bg {padding: 40px 0;}
		ul {
			li{
				width: 100%;
				display: block;
				&:first-child {padding: 42px 0 24px;}
				&:last-child {padding: 0 0 24px;}
				.icon_box {
					margin-right: 0;
					float: none;
					p {font-size: 18px;}
				}
				p {
					float: none;
					font-size: 30px;
					line-height: 40px;
					span {
						font-size: 22px;
					}
				}
			}
		}
	}
	.section3 {
		.sub_title {
			font-weight: bold;
			br {display: none;}
		}
		.hashtag {
			display: block;
			li{
				width: calc(25% - 6px);		
				margin-right: 8px;
				font-size: 13px;
				padding: 6px 16px;
			}
		}
		.box_list li {			
			height: 308px;
			padding-top: 32px;
			border-top: 4px solid #ff8e40;
			background: #fff;
			&:hover {
				border-top: 4px solid #ff8e40;
				margin-top: 0;
				box-shadow:none;
			 }
			h3 {
				font-size: 25px; 
				color: #ff8e40;
				margin-top: 25px;
			}
			p {
				font-size: 14px;
				font-weight: bold;
				margin-top: 12px;
				br {display: none;}
			}
		}
	}
	.section4 {
		.container {margin-top: 40px;}
		.list li {
			width: calc(50% - 4px);
			height: 182px;
			margin-right: 8px;
			margin-bottom: 6px;
			&:nth-child(2n){margin-right: 0;}	
			a {
				height: 98px; 
				box-shadow: none;
				&:hover .hidden_box{
					display: none;
				   }  
			}
			.bottom_box {
				height: calc(100% - 98px);
				h3 {font-size: 13px;}
				p{font-size: 13px;}
			}
		}	
	}
	.section5 {
		height: 172px;
		div {
			padding: 46px;
			h2 {font-size: 28px;}
			p {
				font-size: 14px;
				br {display: block;}
			}
		}
	}
  }//index 최종괄호

 ///.index.main .section3 .box_list
	    .index.main .section3 .box_list li:first-child {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 122px;  
	}
	.index.main .section3 .box_list li:nth-child(2){
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 133px;  
	}
	.index.main .section3 .box_list li:nth-child(3) {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 120px;  
	}	

	
//-------------------------------------------------------------index끝


//투자하기상세----------------------------------------------------------
	//공통
	.count {font-size: 15px;}

 
	
	.invest_detail .title_box {padding: 16px 0; margin: 8px 0;}	
	.invest_detail .btn_wrap button.submit {width: 100%;}
	.invest_detail .btn_wrap ul {width: 100%;}
	.detail_cont .sub_title {margin: 8px 0;}
	.detail_cont .total_box {margin: 24px 0;}
	.detail_cont .total_box li p {font-size: 13px;}
	.detail_cont .total_box li h3 {font-size: 12px;}
	.invest_detail .label_wrap li {border: 1px solid #e9edf1;}
	.goal_box li h3 {font-size: 22px;}
	.bar_box p {font-size: 16px;}
	.bar_box p span {font-size: 13px;}
	.invest_detail .like_btn {padding: 5px 0 5px 34px; background-position: 50px center;}
	.invest_detail .like_btn.on {padding: 5px 0 5px 34px; background-position: 50px center;}
	.invest_detail .share_btn{padding: 5px 0 5px 34px; background-position: 50px center;}
	.detail_table.detail_table2 > li .th {width: 100%; display: block;}
	.detail_table > li .td {padding: 8px 16px;}

	//투자하기 상세 새소식탭
	
	.detail_container.tab2 {margin: 24px auto;}	
	.list_table li p:first-child {width: 65%;}
	.list_table li p:last-child {width: 35%;}

	//새소식탭 상세
	.invest_detail.detail {padding-top: 0;}
	.invest_detail.detail .detail_container.tab2 {width: 100%; margin-bottom: 0;}
	.feeling_box {padding: 7px 11px;}

	//커뮤니티탭	
	.invest_detail .detail_container.tab3 {margin: 24px auto;}
	.invest_detail .detail_container.tab3 .table_title {padding-left: 0;}
	.invest_detail .detail_container.tab3 .title_btn.write_btn {
		border: 1px solid #eaedf1; 
		font-size: 14px;
		border-radius: 4px;
		padding: 6px 16px;
		margin-top: 8px;		
	}
	.invest_detail.detail .detail_container.tab3 .title {font-size: 14px;}
	//커뮤니티탭 상세
	.invest_detail.detail .detail_container.tab3 .table_title {padding: 12px 16px;}
	.invest_detail.detail .detail_container.tab3 {width: 100%; margin-bottom: 0;}
	//커뮤니티탭 글쓰기
	.detail_cont.add .add_area {margin: 24px 0 ;}
	.invest_detail.add .detail_container.tab3 {width: 100%; margin-bottom: 0;}
	.invest_detail.add .detail_container.tab3 .table_title {padding: 12px 16px;}
	.detail_cont.add .add_top p {margin-bottom: 8px; margin-top: 0;}
	.detail_cont.add .radio_wrap {width: 100%;}
	.info_text {width: 100%; text-align: left ;}
	


	//부가정보탭
	.detail_container.tab4 {margin: 30px auto 58px;} 
	.detail_container.tab4 .detail_table_title:last-of-type {margin-top: 30px;}
	.invest_detail.detail .detail_container.tab4 .table_title {font-size: 16px;}
	.download_btn {padding: 8px 11px; font-size: 13px;}
	.down_list {
		li{
		  padding: 8px 14px;    
		  border-bottom: 1px solid #eaedf1;
		  p {width: calc(100% - 120px);line-height: 30px; font-size: 14px;
		  }
		  button{      
		    img {margin-left: 8px;}
		  }    
		} 
	   }
	//투자 현황 탭
	.container.tab5 {margin: 0 auto 24px;} 
	.container.tab5 .table_title{padding-left: 0;}
	.container.tab5 .table_wrap:first-of-type {width: 100%;}
	.container.tab5 .table_wrap:last-of-type {width: 100%;}

	//////////////////////////////////투자하기

	.invest_page.index .section2 .slide_wrap2 li {padding: 0;}
	
	.invest_page .title_wrap {
		width: 100%;
		margin: 16px auto 24px;
		h1 {font-size: 28px; line-height: 42px; margin-bottom: 4px;}
		h3 {font-size: 14px; line-height: 22px;}
	}
	.invest_page .input_wrap ul {width: 100%;}
	.invest_page .input_wrap ul li{
		width: 100%;
		&:first-child, &:nth-child(2){width: calc(50% - 4px); margin-bottom: 16px; margin-right: 0;}
		&:nth-child(2){margin-left: 8px;}
		&:last-child select{width: 100%; margin-bottom: 16px;}
	}
	.invest_page .search_box {
		width: 100%;
		input {width: 100%;}
	}
	.invest_page .list_wrap{margin-top: 0;}

	//투자하기 스탭
	.step_progress ul {width: 100%;}
	.step .title_box h1 {font-size: 28px; line-height: 42px;}
	.invest_page.step .top_table {border-left: 1px solid #eaedf1;}
	.invest_page.step .top_table li {width: 50%; border-top: 1px solid #eaedf1;
		&:nth-child(2n) {border-right: 1px solid #eaedf1; border-left: 1px solid #eaedf1;}
	}
	.invest_page.step .cont > div.w50 {width: 100%; margin-bottom: 24px;}
	.invest_page.step .cont .item_wrap {box-shadow: 0 4px 4px rgba(0,0,0,0.2);}
	.invest_page.step .cont .radio_wrap {width: 100%; }
	.cont.radio > div > ul > li {width: 100%; 
	 &:last-of-type {margin-top: 16px;}
	}
	
}

@include mob {
	.mo_only {display: block;}

	//index------------------------------------------------

	.list_wrap{
		li.slick-item {
			width: 100%;
			box-shadow: none;
			&:hover {margin-top: 0;}
		}
	}
	.index.main .section3 {
		.box_list li {width: 100%;
			p {
				br {display: block;}
			}
		}

	}


	.index.main .main_banner {height: 550px;}
	.index.main .main_banner li {
		background-image: url(../images/main_banner_bg_mo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}



	.index.main .section3 .box_list .slick-slide:first-child li {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 120px;  
	}
	.index.main .section3 .box_list .slick-slide:nth-of-type(2) li{
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 126px;  
	}
	.index.main .section3 .box_list .slick-slide:nth-of-type(3) li {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 125px;  
	}


	//////투자하기 메인페이지
	.invest_page.index .section {margin: 0;}
	.invest_page.index .section1 {padding: 0;}
	.invest_page.index .section2 {padding: 16px 0;
		.btn_wrap {margin-bottom: 0;}	
	}
	.invest_page.index .section3 {margin: 40px 0 16px; 
		.btn_wrap {margin-bottom: 0;}			
	}
	.invest_page .cont .list_wrap > li {width: 100%; margin-right: 0;}
	.invest_page.index .point_btn.big {width: 100%;}
	.invest_page.index .section3 .slide3_container {padding: 0;}

	//투자신청완료 page-----------------------------------------------------
	.invest_page.complete {
		.complete_box {
			padding: 16px 0 40px;
			h2 {font-size: 20px; line-height: 30px;}
			h4 {font-size: 14px;}
			.alert_text {margin-top: 56px;}
		}
		.gray_bg {padding: 16px 0;
			.btn_wrap {margin: 24px auto 0;}		
		}
		.btn_wrap {
			width: calc(100% - 38px);
			margin: 24px auto 16px;
			button {width: calc(50% - 4px); height: 38px;
			&:first-child {margin-right: 8px;}
			}
		}
	}

	//투자 step
	.step1 .swiper-container {width: 80%;}
	.step .page_btn button:first-child {width: 102px;}
	.step .page_btn button:last-child {width: calc(100% - 126px);}


}





