// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1200px;
$tablet-m-width		: 1023px;
$tablet-s-width		: 768px;
$mob-m-width		: 480px;
$mob-s-width		: 375px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿
@mixin tab-middle {
	@media screen and (max-width: #{$tablet-m-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

//------------------------------------------------------------------------------


@include pc-only{
  .mo_none {display: block;}
  .mo_only {display: none;}
}
@include tab{
	.mo_only {display: none;}
	.overflow-div {overflow-y: auto; margin: auto;
		.tab_wrap {
			white-space: nowrap;
			li {width: 100px;}
		}
	}  

	.invest_page.index .section .container {width: calc(100% - 32px); margin: 0 auto;}

	header .pc_header.container .left_box .center {min-width: 500px;}
	header .pc_header.container .left_box .center li {width: 130px;}

	//index------------------------------------------
	.index.main{
		.section3{
			.box_list li {
				height: 335px;
				margin-bottom: 10px;
				p {font-size: 16px;}
			}
		}
		.section4 {
			.container {margin-top: 100px;}
		}
	}
	  ///.index.main .section3 .box_list
	  .index.main .section3 .box_list li:first-child {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}
	.index.main .section3 .box_list li:nth-child(2){
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}
	.index.main .section3 .box_list li:nth-child(3) {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 50px;
		background-repeat: no-repeat;
		padding-top: 155px;  
	}	
	.invest_index .btn_wrap button.submit {width: 100%;}


	///투자하기 상세
	.btn_wrap2 .alarm_btn {background-position: 45% center; }
	.btn_wrap2 .alarm_btn.on {background-position: 45% center; }
	.invest_detail .title_area .text_box {width: 100%; float: none; }
	.invest_detail .img_slider_wrap {width: 100%; height: 218px; float: none !important ; margin-bottom: 16px;}
	.invest_detail .title_area .img_box {
		width: 100%; height: 100%;
		text-align: center;
		img{
			max-width: 100%;
			
		}
	}
	.invest_detail .title_area {display: block;}

	//투자하기 step1 
	.step1 .slide_area {margin: 40px 0 85px;}
	.step1 .swiper-container {width: 90%;}
	.container{width:calc(100% - 32px);}

    //form_page
    .form_page{width:100%;min-height:calc(100vh - 446px);
        .bg_gradient{width: 50%;}
        .right{width:50%;padding:56px 70px 0;}
    }

    //회원가입
    .signup.signup2 .right{padding:0px 30px 0px;}

    // 투자하기페이지
    .invest_page{
        .top_banner{height: 132px;
            h1{font-size: 28px;line-height: 132px;}
        }
        .invest_top_box{
            >ul{width:100%;}
        }
        .big_title{font-size: 28px;width: 100%;}
        .prepare_ul{width:100%;margin:60px auto 0;
            li .txt{width:100%;float: none;}
            li button{width:100%;float: none;}
        }
        .btn_wrap{width:100%;
        }
    }

    // 투자한도조회
    .invest_check{
        .content {margin-top:70px;
            .logo_box{padding:48px 0px;
                img{margin-right:auto !important;display: block;margin:0 auto 16px;}
                img:last-child{margin-bottom:0px;}
            }
            .loading_box{padding:24px 16px 32px;
                .loading_bar{width:100%;}
            }
        }
        
    }
    

    //footer
    footer .container{width:calc(100% - 32px);}

    // 팝업----------------------------------------------------------
    .pop_cont{width: 60%;padding:16px !important;
        .pop_img{float: none;text-align: center;margin-bottom:20px;}
        .txt_box{float: none;margin:0 auto;}
    }

    .test_pass_pop .pop_cont{padding:40px 16px !important;}

    /* 추가페이지------------------------------------ */
    /* 문의하기 상세 */
    .inquiry.detail .container {width: 100%; }
    .inquiry.detail.write .container {width: 100%; }
    .inquiry.detail .detail_cont {margin: 0;}
    .inquiry.detail.write .detail_cont {margin: 0 0 42px;}
    .alert_msg {text-align: left; margin-bottom: 0;}



}
@include tab-middle(){
	.detail_container {width: calc(100% - 32px); margin: 0 auto;}
	header .pc_header.container .left_box .logo {width: 100px;
		img {width: 100%;}
	}
	header .pc_header.container .left_box .center {min-width: 230px;}
	header .pc_header.container .left_box .center li {width: 80px;}
	header .pc_header.container .left_box .center li .menu {font-size: 14px;}


	    /* 공지사항 */
	    .notice .title_wrap {padding: 40px 0 30px;	}
	    .notice .title_wrap h1 {font-size: 30.5px;}
	    .notice .title_wrap h2 {font-size: 14px;}
	    .top_box {width: 100%;
		.search_input {width: 100%;}
		}	
		.notice_list li:first-child.notice_label p {padding: 4px 11px; font-size: 13px;}
		.notice_list li {padding: 15px 10px;}
		.notice_list li>ul>li {padding: 0 !important;}
		.notice_list li ul li img {width: 12px; margin-top: -9px;}
		.notice_list li:first-child.notice_label {width: 55px; padding: 0 !important; margin: unset;}
		.notice_list_wrap .notice_list > li > ul > li:first-child {width: max-content; margin-right: 10px; font-size: 14px;}
		.notice_list_wrap .notice_list > li > ul > li:nth-child(2){width: calc(100% - 40px); font-size: 14px; line-height: 1.5;}
		.notice_list_wrap .notice_list > li > ul > li:nth-child(2) p {font-size: 14px; }
		.notice_list_wrap .notice_list > li >.notice_cont > li:nth-child(2) {width: calc(100% - 65px);}
		.notice_list_wrap .notice_list > li > ul > li:last-child {width: 100%; text-align: left; margin-top: 10px; font-size: 13px;}

}

@include tab-small(){
  .pc_none {display: block;}
  .mo_none {display: none !important;}
  .mo_only {display: none;}
 


//default css--------------------------------------------------------------------------
 
  .container {
	width: calc(100% - 32px);
	margin: 0 auto;
  }

  ///INDEX-------------------------------------------------------------------

  .index.main{
	.title {font-size: 30px;	}
	.sub_title {font-size: 14px;}
	.main_banner_wrap{
		.main_banner{
			li{
				.text{
					left: 16px; 
					top: 40px; 
					transform: unset;
					h1 {font-size: 30px;}
					p {font-size: 15px;}
					button {padding: 8px 16px; font-size: 14px; }
				}
				img {
					width: auto;
					height: 100%;
				}
			}
		}
		.dot_wrap {
			width: calc(100% - 38px);
			li{width: calc(33.333% - 8px);}
		}
	}
	.section2 {
		.gray_bg {padding: 40px 0;}
		ul {
			li{
				width: 100%;
				display: block;
				&:first-child {padding: 42px 0 24px;}
				&:last-child {padding: 0 0 24px;}
				.icon_box {
					margin-right: 0;
					float: none;
					p {font-size: 18px;}
				}
				p {
					float: none;
					font-size: 30px;
					line-height: 40px;
					span {
						font-size: 22px;
					}
				}
			}
		}
	}
	.section3 {
		.sub_title {
			font-weight: bold;
			br {display: none;}
		}
		.hashtag {
			display: block;
			li{
				width: calc(25% - 6px);		
				margin-right: 8px;
				font-size: 13px;
				padding: 6px 16px;
			}
		}
		.box_list li {			
			height: 308px;
			padding-top: 32px;
			border-top: 4px solid #ff8e40;
			background: #fff;
			&:hover {
				border-top: 4px solid #ff8e40;
				margin-top: 0;
				box-shadow:none;
			 }
			h3 {
				font-size: 25px; 
				color: #ff8e40;
				margin-top: 25px;
			}
			p {
				font-size: 14px;
				font-weight: bold;
				margin-top: 12px;
				br {display: none;}
			}
		}
	}
	.section4 {
		.container {margin-top: 40px;}
		.list li {
			width: calc(50% - 4px);
			height: 182px;
			margin-right: 8px;
			margin-bottom: 6px;
			&:nth-child(2n){margin-right: 0;}	
			a {
				height: 98px; 
				box-shadow: none;
				&:hover .hidden_box{
					display: none;
				   }  
			}
			.bottom_box {
				height: calc(100% - 98px);
				h3 {font-size: 13px;}
				p{font-size: 13px;}
			}
		}	
	}
	.section5 {
		height: 172px;
		div {
			padding: 46px;
			h2 {font-size: 28px;}
			p {
				font-size: 14px;
				br {display: block;}
			}
		}
	}
  }//index 최종괄호

 ///.index.main .section3 .box_list
	    .index.main .section3 .box_list li:first-child {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 122px;  
	}
	.index.main .section3 .box_list li:nth-child(2){
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 133px;  
	}
	.index.main .section3 .box_list li:nth-child(3) {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 120px;  
	}	

	
//-------------------------------------------------------------index끝


//투자하기상세----------------------------------------------------------
	//공통
	.count {font-size: 15px;}
	.goal_box {margin-top:24px;}

	.invest_detail .title_box {padding: 16px 0; margin: 8px 0;}	
	.invest_detail .btn_wrap button.submit {width: 100%;}
	.invest_detail .btn_wrap ul {width: 100%;}
	.detail_cont .sub_title {margin: 8px 0;}
	.detail_cont .total_box {margin: 24px 0;}
	.detail_cont .total_box li p {font-size: 13px;}
	.detail_cont .total_box li h3 {font-size: 12px;}
	.invest_detail .label_wrap li {border: 1px solid #e9edf1;}
	.goal_box li h3 {font-size: 22px; font-weight: bold;}
	.bar_box p {font-size: 16px;}
	.bar_box p span {font-size: 13px;}
	.invest_detail .like_btn {padding: 5px 0 5px 34px; background-position: 50px center;}
	.invest_detail .like_btn.on {padding: 5px 0 5px 34px; background-position: 50px center;}
	.invest_detail .share_btn{padding: 5px 0 5px 34px; background-position: 50px center;}
	.detail_table.detail_table2 > li .th {width: 100%; display: block;}
	.detail_table > li .td {padding: 8px 16px;}

	//투자하기 상세 새소식탭
	
	.detail_container.tab2 {margin: 24px auto;}	
	.list_table li p:first-child {width: 65%;}
	.list_table li p:last-child {width: 35%;}

	//새소식탭 상세
	.invest_detail.detail {padding-top: 0;}
	.invest_detail.detail .detail_container.tab2 {width: 100%; margin-bottom: 0;}
	.feeling_box {padding: 7px 11px;}

	//커뮤니티탭	
	.invest_detail .detail_container.tab3 {margin: 24px auto;}
	.invest_detail .detail_container.tab3 .table_title {padding-left: 0;}
	.invest_detail .detail_container.tab3 .title_btn.write_btn {
		border: 1px solid #eaedf1; 
		font-size: 14px;
		border-radius: 4px;
		padding: 6px 16px;
		margin-top: 8px;		
	}
	.invest_detail.detail .detail_container.tab3 .title {font-size: 14px;}
	//커뮤니티탭 상세
	.invest_detail.detail .detail_container.tab3 .table_title {padding: 12px 16px;}
	.invest_detail.detail .detail_container.tab3 {width: 100%; margin-bottom: 0;}
	//커뮤니티탭 글쓰기
	.detail_cont.add .add_area {margin: 24px 0 ;}
	.invest_detail.add .detail_container.tab3 {width: 100%; margin-bottom: 0;}
	.invest_detail.add .detail_container.tab3 .table_title {padding: 12px 16px;}
	.detail_cont.add .add_top p {margin-bottom: 8px; margin-top: 0;}
	.detail_cont.add .radio_wrap {width: 100%;}
	.info_text {width: 100%; text-align: left ;}
	


	//부가정보탭
	.detail_container.tab4 {margin: 30px auto 58px;} 
	.detail_container.tab4 .detail_table_title:last-of-type {margin-top: 30px;}
	.invest_detail.detail .detail_container.tab4 .table_title {font-size: 16px;}
	.download_btn {padding: 8px 11px; font-size: 13px;}
	.down_list {
		li{
		  padding: 8px 14px;    
		  border-bottom: 1px solid #eaedf1;
		  p {width: calc(100% - 120px);line-height: 30px; font-size: 14px;
		  }
		  button{      
		    img {margin-left: 8px;}
		  }    
		} 
	   }
	//투자 현황 탭
	.container.tab5 {margin: 0 auto 24px;} 
	.container.tab5 .table_title{padding-left: 0;}
	.container.tab5 .table_wrap:first-of-type {width: 100%;}
	.container.tab5 .table_wrap:last-of-type {width: 100%;}

	//////////////////////////////////투자하기

	.invest_page.index .section2 .slide_wrap2 li {padding: 0;}
	
	.invest_page .title_wrap {
		width: 100%;
		margin: 16px auto 24px;
		h1 {font-size: 28px; line-height: 42px; margin-bottom: 4px;}
		h3 {font-size: 14px; line-height: 22px;}
	}
	.invest_page .input_wrap ul {width: 100%;}
	.invest_page .input_wrap ul li{
		width: 100%;
		&:first-child, &:nth-child(2){width: calc(50% - 4px); margin-bottom: 16px; margin-right: 0;}
		&:nth-child(2){margin-left: 8px;}
		&:last-child select{width: 100%; margin-bottom: 16px;}
	}
	.invest_page .search_box {
		width: 100%;
		input {width: 100%;}
	}
	.invest_page .list_wrap{margin-top: 0;}

	//투자하기 스탭
	.step_progress ul {width: 100%;}
	.step .title_box h1 {font-size: 28px; line-height: 42px;}
	.invest_page.step .top_table {border-left: 1px solid #eaedf1;}
	.invest_page.step .top_table li {width: 50%; border-top: 1px solid #eaedf1;
		&:nth-child(2n) {border-right: 1px solid #eaedf1; border-left: 1px solid #eaedf1;}
	}
	.invest_page.step .cont > div.w50 {width: 100%; margin-bottom: 24px;}
	.invest_page.step .cont .item_wrap {box-shadow: 0 4px 4px rgba(0,0,0,0.2);}
	.invest_page.step .cont .radio_wrap {width: 100%; }
	.cont.radio > div > ul > li {width: 100%; 
	 &:last-of-type {margin-top: 16px;}
	}

	.pc_none {display: block;}
    //form_page
    .form_page{width:calc(100% - 38px);
        .right{width:100%;padding:0px 0px 40px;margin-top:10px;}
    }

    //회원가입
    .signup.signup2 .right{padding:0px;}

    // 아이디,비번찾기페이지
    .search_page{
        .container{width:calc(100% - 80px);}
        .title_wrap{
            h1{font-size:28px;}
            p{font-size: 14px;}
        }
        .form_box{margin:24px auto 0;
            .certify_after{
                .btn_wrap{margin:32px auto 84px;}
            }
        }
    }

    // 투자하기페이지
    .invest_page{
        .invest_top_box{
            >ul>li{width:50%;}
        }
    }
    // 투자한도조회
    .invest_check{
        .content {
            .loading_box{
                .loading_bar{width:calc(100% - 38px);}
            }
        }
        
    }

    //약관페이지
    .terms_page{
        .title_wrap{
            h1{font-size:28px;}
            p{font-size:14px;}
        }
        .table_li{overflow-x: auto;}
    }
    // 팝업----------------------------------------------------------
    .pop_cont{
        .pop_img{
            img{max-width: 104px;}
        }
        .txt_box{width: 100%;}
    }


    // 회원가입 토스트팝업
    .toast_pop{top:unset;bottom:32px;}

    // 실명인증팝업, 증권계좌추가팝업,투자적합성테스트팝업
    .invest_prepare_pop,.invest_account_pop,.invest_test_pop{display: none;}
    .invest_prepare_pop.mo_invest,.invest_account_pop.mo_invest,.invest_test_pop.mo_invest{display: block;}

    //footer
    footer {padding-top:42px;
        .top{
            >div{float: none !important;}

            >div:first-child a{float: none !important;text-align: center;width: 100%;}
            >div:first-child .terms_ul{float: none !important;width: max-content;margin:5px auto 0px;}
            .service_box{margin-top:12px;}
        }
        .bottom{padding:30px 0 12px;
            >div{float: none !important;}
            .link_wrap{width: max-content;margin:12px auto 0;}
        }
    }
	
}

@include mob {
	.mo_only {display: block;}

	//index------------------------------------------------

	.list_wrap{
		li.slick-item {
			width: 100%;
			box-shadow: none;
			&:hover {margin-top: 0;}
		}
	}
	.index.main .section3 {
		.box_list li {width: 100%;
			p {
				br {display: block;}
			}
		}

	}


	.index.main .main_banner {height: 550px;}
	.index.main .main_banner li {
		background-image: url(../images/main_banner_bg_mo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}



	.index.main .section3 .box_list .slick-slide:first-child li {
		background-image: url(../images/icons/about_icon1_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 120px;  
	}
	.index.main .section3 .box_list .slick-slide:nth-of-type(2) li{
		background-image: url(../images/icons/about_icon2_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 126px;  
	}
	.index.main .section3 .box_list .slick-slide:nth-of-type(3) li {
		background-image: url(../images/icons/about_icon3_on.png);
		background-position: center 32px;
		background-repeat: no-repeat;
		padding-top: 125px;  
	}


	//////투자하기 메인페이지
	.invest_page.index .section {margin: 0;}
	.invest_page.index .section1 {padding: 0;}
	.invest_page.index .section2 {padding: 16px 0;
		.btn_wrap {margin-bottom: 0;}	
	}
	.invest_page.index .section3 {margin: 40px 0 16px; 
		.btn_wrap {margin-bottom: 0;}			
	}
	.invest_page .cont .list_wrap > li {width: 100%; margin-right: 0;}
	.invest_page.index .point_btn.big {width: 100%;}
	.invest_page.index .section3 .slide3_container {padding: 0;}

	.btn_wrap2 .alarm_btn {background-position: 75px center; padding-left: 25px;}
	.btn_wrap2 .alarm_btn.on {background-position: 75px center; padding-left: 25px;}

	//투자신청완료 page-----------------------------------------------------
	.invest_page.complete {
		.complete_box {
			padding: 16px 0 40px;
			h2 {font-size: 20px; line-height: 30px;}
			h4 {font-size: 14px;}
			.alert_text {margin-top: 56px;}
		}
		.gray_bg {padding: 16px 0;
			.btn_wrap {margin: 24px auto 0;}		
		}
		.btn_wrap {
			width: calc(100% - 38px);
			margin: 24px auto 16px;
			button {width: calc(50% - 4px); height: 38px;
			&:first-child {margin-right: 8px;}
			}
		}
	}

	//투자 step
	.step1 .swiper-container {width: 80%;}
	.step .page_btn button:first-child {width: 102px;}
	.step .page_btn button:last-child {width: calc(100% - 126px);}

	// 아이디,비번찾기페이지
    .search_page{
        .container{width:calc(100% - 32px);}
        .form_box{max-width:100%;}
    }

    //약관페이지
    .terms_page{
        .tab_ul_wrap{overflow-x:auto;
            ul{width: max-content;
                li{width: auto;}
                a{padding:8px 24px;}
            }
            
        }
    }

    //에러페이지
    .error_page{
        .container{padding-bottom:0px;padding-top:160px;}
        .text_box{
            p{font-size: 14px;margin:40px 0 12px;}
            h1{font-size: 20px;margin-bottom:12px;}
            .txt{font-size: 13px;line-height: 1.5;}
        }
        .btn_wrap{width:100%;
            button{width:100%;float: none;margin-bottom:24px;}
        }
        img{width:100%;right:unset;top:0;left:50%;transform: translateX(-50%);}
    }

    // 팝업----------------------------------------------------------
    .pop_cont{width: calc(100% - 38px) !important;}

    // 투자하기상세 - 공유하기팝업
    .share_pop{
        .copy_txt{top:unset;bottom:32px;}
    }

    //추가페이지-------------------------------------------------------
	//문의하기 상세
    .inquiry_text_box {min-height: 60vh;} 


}
