// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1247px;
$tablet-m-width		: 1023px;
$tablet-s-width		: 767px;
$mob-m-width		: 480px;
$mob-s-width		: 375px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿
@mixin tab-middle {
	@media screen and (max-width: #{$tablet-m-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

//------------------------------------------------------------------------------

// 1023px;
@include tab-middle{
	.v3{
		// 개설한프로젝트
		&.project {
			.gray_ul{display:none;}
			.top_box h1{margin:36px 0 68px;}
			.pro_list>li{width:calc(50% - 12px);}
			.pro_list>li:nth-child(2n){margin-right:0px !important;}
			.pro_list>li:nth-child(3n){margin-right:24px;}
		}
		
	}
	
}

// 767px
@include tab-small{
	.v3{
		// 개설한프로젝트
		&.project {
			.tab_ul{width:100%;}
			.gray_bg{padding:24px 0 0;}
			.pro_list>li{width:100%;min-height:164px;}
		}
		// 피드백
		&.feedback{
			.feedback_li {padding:10px 16px;}
			.feedback_li span{font-size:13px;}
			.feedback_li p{font-size:15px;}
			.detail_wrap .detail{padding:24px 16px;}
		}
		
	}
	
}