// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1247px;
$tablet-m-width		: 1023px;
$tablet-s-width		: 767px;
$mob-m-width		: 480px;
$mob-s-width		: 360px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿
@mixin tab-middle {
	@media screen and (max-width: #{$tablet-m-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

//------------------------------------------------------------------------------
// 1247px;
@include tab{
	.back_header {display: block;}
	.v3{
		.studio_gnb {display: none;}
		&.gnb_off{
			.cont {margin-left: 0;}
			width: 100%;
		}
		.cont {
			width: 100%;
			margin-left: 0;
			.container {
				padding: 0 16px;
			}
			.top_box {	
				margin-top: 0;
			}
			
		}

	}
	
}

// 1023px;
@include tab-middle{
	.v3{
		.check_list{
			&.check_list3 {
				li {
					width: calc(33% - 8.666px);
					margin-right: 10px;
					&:last-child {margin-right: 0;}					
				}
			}
		}
		.cont {
			.radio_box {
				padding: 9px 8px;
			}
		}
		
	}
	
}

// 767px
@include tab-small{
	.v3{
		//common
		.ul_50 {
			li { width: 100%;}
		}
		.radio_list {
			li {margin-bottom: 24px;}
		}
		.bottom_btn {
			.btn {width: calc(50% - 4px); 	}			

		}		
		.division_list {
			width: 100% !important;
			>li {margin-bottom: 30px; margin-left: 0;}
			select {margin-bottom: 12px; width: 100%;}
		}
		.check_list {
			&.check_list2 {
				>div {
					width: 100%;
				}
				div + div {margin-top: 16px;}
			}
			&.check_list3 {
				>li {
					width: 100%;
					margin-right: 0;
				}				
			}
		}
		.file_upload{
			.down_btn {
				border-radius: 4px;
			}
			.file_name {
				input {border-radius: 4px;}
			}
		}
		//btn
		.btn {			
			&.big {width: 100%;}
		} 
		//page 
		&.funding {
			.cont {
				.top_box {
					.tab_ul {
						li {
							width: calc(33.333% - 5.3333px);
							margin-right: 8px;
						}
					}
				}
			}

		}
	
		//cont
		.cont {
			.top_box {		
				h3 {font-size: 30px;}		
				.tab_ul {
					width: 100%;
					li {
						width: calc(25% - 6px);
						&:last-child {margin-right: 0;}
					}
				}
			}
			.gray_bg {
				.bd_box{
					 .left {width: 100% !important; margin-bottom: 16px; margin-right: 0;}
					 .right {
						 width: 100% !important; margin-left: 0;
						&.file_box {margin-top: 0; width: 100%;}
						&.file_box2 {width: 100%;}
						&.form_ul {
							width: 100% !important;
						}
					}
				}
				.tag_list {
					li {
						float: left;
						margin-bottom: 24px;
						display: block;
					}
				}
				.notice_box {
					.right {width: 100%;}
					button {width: 100%; margin-top: 16px;}
				}
			}
			
		}
		.img_ul {
			li {width: 100%; margin-right: 0; margin-bottom: 12px;}
		}
	}
	.audit_pop1{
		.pop_cont {
			.pop_submit {margin-top: 34px;}
		}
	}
}