body {
  margin: 0;
  font-family: Play, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin position_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

//slide---------------------------------------------------------------------------------
.slick-slider { width: 100%;
  .slick-list , .slick-track , .slick-slide { width: 100%; 
    &>div { width: 100%; }
  }
  .slick-arrow { display: none !important;  }
}
.main_banner .slick-slider {height: 100%;}
.main_banner .slick-list {height: 100%;}
.main_banner .slick-slider .slick-list > div, .main_banner .slick-slider .slick-track > div, .main_banner .slick-slider .slick-slide > div {
  height: 100%;
}
.dot_wrap {
  margin: 16px auto 24px;
  width: max-content;
  li { 
    width: 8px;
     height: 8px; 
     background: #343332;    
     opacity: 0.2;
     border-radius: 50%;
     margin-right: 16px;
     &.active {background: #ff8e40; opacity: 1;}
  &:last-child {margin-right: 0 !important;}
  }
}
.main_banner_wrap {position: relative;}
.main_banner_wrap .dot_wrap {
  position: absolute; 
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%);
}
.main_banner_wrap .dot_wrap li {
  width: 120px;
  height: 8px;
  border-radius: 0;
  margin-right: 12px;
}
//css-----------------------------------------------------------------------
//index
.index{ 
  .main_banner {
    width: 100%;
    height: 700px;    
    overflow: hidden;
    background-image: url(../images/main_banner_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   &.mo {
    background-image: url(../images/main_banner_bg_mo.png);   
   }
   li {
     width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    }    
    .text{
      position: absolute;
      left: 15%; 
      top: 50%;
      transform: translateY(-50%);
      h1{
        margin-bottom: 16px;
        font-size: 60px; 
        &:first-child{
          font-weight: normal;
        }
      }
      p{
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-bottom: 16px;
      }
      button{
        padding: 12px 64px;
        border: 1px solid #fff;
        border-radius: 2px;
        >img{
          width: auto;
          margin-left: 16px;
          display: inline-block !important;
        }
      }
    }
  }
  .title {
    font-size: 55px;
    font-weight: bold;
    color: #343332;
  }
  .sub_title {
    font-size: 20px;
    color: #535352;
    margin-top: 8px;
    line-height: 1.5;
  }
  .section1 {
    padding: 98px 0;        
    }  
    .btn_wrap{
      margin-top: 48px;
    }
}

.list_wrap{   
  margin-top: 48px;
  a {
    height: 100%;
  }    
  li.slick-item , >li{
    width: calc(33.333% - 16px);
    height: 376px;
    border-radius: 4px;
    margin-right: 24px;    
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.3s;    
      &:last-child {margin-right: 0;}
      .img_box {
        width: 100%; height: 57%; position: relative; overflow: hidden;
        img {
          width: 100%;
          @include position_img;
        }
        .label {
          width: max-content;
          position: absolute;
          left: 16px;
          top: 12px; 
          padding: 5px 10px;
          border-radius: 2px;
          font-size: 13px;
        }
      }
      .text{
        height: 43%;
        padding: 16px 12px;
        background: #ffffff;
        h2 {
          font-size: 18px; 
          margin-bottom: 8px;
          line-height: 28px;
        }       
        .total {
          p:first-child{
            font-size: 16px;
          }
          p:last-child{
            font-size: 14px;
            color: #b8c4d2;
          }
        }
      }
  }
}
.list_wrap li.slick-item:hover {  margin-top: -20px;}

.bar {
  height: 4px;
  background: #eeeff5;
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  &:after {
    position: absolute;
    content:'';
    width: 60%;
    height: 100%;
    background: #ff8e40;
    left: 0;
    top: 0;
  }
}
.label_wrap{
  margin-bottom: 10px;
  li {
    padding: 2px 10px;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 13px; 
    color: #8d9daf ;
    border: 1px solid #8d9daf;          
    &:last-child {
      margin-right: 0;
    }
  }       
}
//label
.label.funding {background: #ff8e40; color: #ffffff; }
.label.open {background: #3b59c8; color: #ffffff; }
.label.end {background: #dfe5ec; color: #343332; }

.more_btn {
  width: 180px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #eaedf1;
  color: #b8c4d2;
  font-size: 16px;
  img{
    margin-left: 8px;
  }
}

.section2{
  .gray_bg {
    padding: 100px 0 96px;    
  }
  ul {
    border-top:4px solid #ff8e40  ;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.14);
    margin-top: 48px;
    li{
      width: 50%;
      padding: 42px 0;
      text-align: center;
      display: flex;
       justify-content: center;
      .icon_box{
        margin-right: 45px;
          p{
            font-size: 18px;
            margin-top: 12px;
            color: #ff8e40;
            font-weight: bold;
          }
      }  
      >p{
        font-size: 50px; 
        color: #343332;
        font-weight: bold;
        line-height: 108px;
        span{
          font-size: 30px;
          color: #343332;
          font-weight: bold;
        }
      }    
    }
    
  }
}
.section3 {
  .container{
    padding: 48px 0;
    text-align: center;
    border-bottom: 1px solid #eaedf1 ;    
  }
  .hashtag{
    margin: 48px auto;
    display: inline-block;
    li{
      padding: 7px 20px;
      background: #ff8e40;
      color: #ffffff;
      font-size: 16px;
      margin-right: 24px;
      border-radius: 2px;
      &:last-child {
        margin-right: 0;
      }     
    }
  }
  .box_list {
    li{     
      width: calc(33.333% - 16px);
      height: 364px;
      margin-right: 24px;
      border: 1px solid #eaedf1;    
      text-align: center;
      padding-top: 49px;     
      transition: all 0.3s;
      border-radius: 4px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-top: 4px solid #ff8e40;
        margin-top: -16px;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      }      
      h3{
        font-size: 30px;       
      }
      p{
        width: 65%;
       margin: 5px auto 0;
       font-size: 18px; 
       line-height: 1.5;
      }
      
    }
  }
}
.box_list li:first-child {
  background-image: url(../images/icons/about_icon.png);
  background-position: center 45px;
  background-repeat: no-repeat;
  padding-top: 155px;  
}
.box_list li:first-child:hover {
  background-image: url(../images/icons/about_icon1_on.png);
  background-position: center 45px;
  background-repeat: no-repeat;    
}
.box_list li:nth-child(2) {
  background-image: url(../images/icons/about_icon2.png);
  background-position: center 45px;
  background-repeat: no-repeat;
  padding-top: 151px;  
}
.box_list li:nth-child(2):hover {
  background-image: url(../images/icons/about_icon2_on.png);
  background-position: center 45px;
  background-repeat: no-repeat;    
}
.box_list li:nth-child(3) {
  background-image: url(../images/icons/about_icon3.png);
  background-position: center 45px;
  background-repeat: no-repeat;
  padding-top: 169px;  
}
.box_list li:nth-child(3):hover {
  background-image: url(../images/icons/about_icon3_on.png);
  background-position: center 45px;
  background-repeat: no-repeat;    
}


.section4 {
  .container{
    margin-top: 196px;
  }
  .list {
    padding: 56px 0 48px;
    li {
      width: calc(25% - 18px);
      margin-right: 24px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      a{
        position: relative;
        width: 100%;
        height: 172px;    
        transition: all 0.5s;     
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        &:hover .hidden_box{
          display: block;
        }   
        >img {
          width: 100%;
        }
      }     
    }
  }
}
.hidden_box {
  width: 100%;
  height: 100%; 
  position: absolute; 
  left: 0; 
  top:0; 
  background:rgba(255,142,64,0.8);
  display: none;
  padding: 65px 79px;  
  p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 16px;     
    img{
      margin-left: 17px;
    }
  }
}
.bottom_box {
  padding: 8px;
  h3 {
    font-size: 18px;
    line-height: 1.5;        
    margin-bottom: 8px;
  }     
  p {
    font-size: 16px; 
  }
}

.section5 {
  height: 240px;
  background-image: url(../images/img_img_thumnail_default.png) ;   
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 48px;
  >div{
    background: rgba(0,0,0,0.5);
    width: 100%; 
    height: 100%;   
    padding: 64px;
    h2 {
      font-size: 50px;
      color: #ffffff;       
    }
    p {
      font-size: 20px;
      margin-top: 8px;
      color: #ffffff;
      line-height: 1.5;
      &br {
        display: none;
      }
    }
  }
}

//투자하기 상세---------------------------------------------------------------------------------
.invest_index {
  padding-top: 24px;
 /*  >.top {
    border-bottom: 1px solid #eaedf1;
  } */
  .title_area {
    padding-top: 24px;
    display: table;
  }
  .title_area .img_box {
    width: 588px;    
    vertical-align: middle;
    border-radius: 8px;
    overflow: hidden;  
    .label_wrap {margin-bottom: 8px;}    
  }
  .title_area .text_box {
    width: calc(100% - 628px);  
    .bar_box {
      margin-bottom: 24px;
    }
    .bar_box>div {
      margin-bottom: 8px;
      p span{
        font-size: 13px;
        color: #b8c4d2;          
        font-weight: normal;
      }
    }
    .bar {
      height: 8px;
    }
  }
  .title_box {
    border-bottom: 1px solid #eaedf1;
    margin: 0 16px 28px;
    padding: 20px 0 28px;
    .title {font-size: 28px;}
  }
  .btn_wrap {   
    text-align: center;    
    button.submit {width: 384px; height: 44px; background: #ff8e40; color: #ffffff; border-radius: 4px; margin-bottom: 24px;}
    ul{
      width: 384px; 
      margin: auto;
    }
    >ul>li {
      width: calc(50% - 12px);
      padding: 4px 0;      
    }
  }
}
.img_slider_wrap {
  position: relative;
  .dot_wrap{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;    
    margin: 0;
    li {
      background: #343332; opacity: 1;
      &.active {
        background: #ff8e40;
      }
    }
  }
}
.slider_arrow {
   position: absolute;
   width: 100%;
   top:44%;
   transform: translateY(-50%);
   li {
     width: 32px; height: 48px; background: #c0c5ca; border-radius: 2px;  cursor: pointer;       
    }
    li.prev_arrow {
      position: absolute;
      left: 0;
      background-image: url(../images/icons/btn_prev.png);
      background-position: center;
      background-repeat: no-repeat;      
     }
     li.next_arrow {
      position: absolute;
       right: 0;
      background-image: url(../images/icons/btn_next.png);
      background-position: center;
      background-repeat: no-repeat;    

     }
}

.invest_index .like_btn {
  width: 100%;
  padding: 5px 0 5px 22px;  
  font-weight: bold;
  background-image: url(../images/icons/like_btn.png);
  background-position: 55px center;
  background-repeat: no-repeat;      
    &.on{
      background-image: url(../images/icons/like_btn_on.png);
      background-position: 55px center;
      background-repeat: no-repeat;     
    }
}
.invest_index .share_btn {
  width: 100%;
  padding: 5px 0 5px 22px;  
  font-weight: bold;
  background-image: url(../images/icons/share_btn.png);
  background-position: 55px center;
  background-repeat: no-repeat;          
}
//title_box > .bottom_box
.text_box .bottom_box {padding: 0;}
.bottom_box .top {
  width: max-content;
  margin: 0 auto 16px;
  p {
    font-weight: bold;
    display: inline-block;
    margin-left: 8px; 
    vertical-align: middle;
  }
}
  .btn_wrap2  button:first-of-type{
    width: calc(70% - 24px);
    height: 44px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;    
    font-weight: 600;
  }
  .btn_wrap2  button:last-of-type {
    width:30%; 
    padding: 10px 0;
  } 
.btn_wrap2 {   
    .submit.end {
     background: #eaedf1;
     color: #bfbfbf;
    }
    .alarm_btn {      
      background: #282d40;
      color: #ffffff;
      background-image: url(../images/icons/alarm_btn.png);
      background-position: 140px center;
      background-repeat: no-repeat;      
      &.on {
        background: #5dcf17;
        background-image: url(../images/icons/alarm_btn_on.png);
        background-position: 140px center;
        background-repeat: no-repeat;      
      }
    }
    .share_btn {      
      background-position: 43px center;    
    }
}

.goal_box {
  margin-bottom: 24px;
  height: 112px;
  li{
    background: #f8f9fb;        
    width: 50%;
    height: 100%;
    padding: 16px 0;
    text-align: center;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;   
    p{
      font-size: 13px; 
      line-height: 20px;      
    }
    h3 {
      font-size: 30px;
      color: #000000;
      margin-bottom: 0;
    }
  }
}

//탭 --------------------
.overflow-div {width: 1200px; margin: auto; border-bottom: 1px solid #eaedf1;}
.tab_wrap {
  text-align: center;
  margin-top: 24px;  
  li {
    display: inline-block;
    width: 180px;
    margin-right: 24px;
    font-weight: 600;
    a{
      padding: 10px 0;
    }
    &:last-child {
      margin-right: 0;    
    } 
  }
  li.active a span{color: #ff8e40;}
  li.active {border-bottom: 4px solid #ff8e40;}  
}
//----------------------------------------------------

//투자하기 상세 탭------------------------------------
.detail_container {width: 996px; margin: 24px auto 0;}
.detail_container.tab1 {margin: 24px auto 55px;}
.alert_text {
  position: relative;
  &:after {position: absolute; content:''; width: 20px; height: 20px; }
}

//공통
.date {font-size: 13px; color: #b8c4d2;  }
.label2 {display:inline-block; border:1px solid #e9edf1; color: #8d9daf; font-size: 13px; margin-right: 12px; padding: 2px 10px; } 

//핵심정보
.detail_cont .total_box{
  margin: 0 51px 24px;
  li {
    width: calc(33.333% - 16px);
    margin-right: 24px;
    background: #f8f9fb;
    padding: 24px 0;
    text-align: center;
    &:last-child {margin-right: 0;}
    p {
      margin-bottom: 16px;
    }
    h3 {
      font-size: 22px;
      color: #000000;
    }
  }  
}
.detail_cont .sub_title {
  font-size: 18px; color: #000; line-height: 1.56; margin: 8px 16px;
}
.detail_table {
  border-top: 2px solid #ff8e40;
  border-bottom: 2px solid #ff8e40; 
  >li {
    border-bottom: 1px solid #eaedf1;
  }
}
.detail_table>li .th {width: 160px; padding: 8px 16px; font-size: 13px;  color: #000; background: #f9f9f9; line-height: 20px; font-weight: 600; display: table-cell;}
.detail_table>li .td {width: calc(100% - 160px); color: #525251; font-size: 13px; padding: 8px 24px ;  line-height: 20px; font-weight: 600; display: table-cell;}
.detail_cont .info {
  margin: 68px 0 32px;
  .info_title{
    font-size: 24px;
    position: relative;
    line-height: 1.5;
    &:after {
      position: absolute; 
      width: 27px;
      height: 22px;
      content:''; 
      left: 48%;
      top: -30px;
      background-image: url(../images/icons/title_deco.png);
      background-repeat: no-repeat;
      background-size: contain;
    
    }
  }
  .sutbitle {font-size: 14px; }
  img {max-width: 100%; }
  .body {font-size: 14px;}
  .caption {font-size: 13px; color: #6e6e6d;}
}
//새소식
.detail_container.tab2 {margin: 24px auto 100px;}
.alert_box {  
  .alert {    
    display: inline-block;
    background: #f8f9fb;
    border-radius: 100px;
    padding: 8px 12px;  
    p {padding-top: 4px; padding-left: 5px;}
  }
}
.table_title { 
  padding: 12px 16px; 
  font-size: 18px; 
  color: #000000; 
  span {font-size: 18px; margin-left: 5px; color: #ff8e40;}
}
.title_btn {padding: 12px 16px; font-weight: 600;}
.list_table {
  width: 100%;
  border-top: 2px solid #ff8e40;
  border-bottom: 2px solid #ff8e40;
  li {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eaedf1;    
    &:last-child {border-bottom: none;}
    &.thead {background: #f9f9f9;}
    a {display: table; width: 100%;}
  }  
}
.list_table li.thead p {color: #000000 !important; padding: 8px 16px; font-size: 14px; font-weight: 600; line-height: 1.57; display: table-cell; vertical-align: middle; text-align: center;}
.list_table li p:first-child { width: 80%; border-right: 1px solid #eaedf1; padding: 8px 16px; font-size: 14px; font-weight: 600; line-height: 1.57; display: table-cell; vertical-align: middle; }
.list_table li p:last-child {width: 20%; vertical-align: middle; padding: 8px 16px; font-size: 14px; font-weight: 600; line-height: 1.57; display: table-cell;  text-align: center;}

//새소식 상세
.detail_table_title {border-bottom: 2px solid #ff8e40;}
.detail_table2 {  
 .top {
   padding: 24px 16px;     
  }
  .title {font-size: 18px;  line-height: 1.56;} 
  .text_area {line-height: 1.57;}
 
}
//댓글창
.comment_box {background: #f8f9fb; padding: 8px 16px;}
.comment_box input {height: 48px;  }
.comment_list {
  background: #fff;
  >li{
    padding: 16px;
    border-top: 1px solid #eaedf1;
    .in_comment {
      padding: 16px 16px 24px;
      background: #f9f9f9 ;     
    }
  }
}
.user_type .user{margin-bottom: 13px; position: relative; padding-left: 28px; line-height: 23px; font-weight: 600;}
.user_type .user_label {border: 1px solid #e9edf1; border-radius: 2px; padding: 1px 8px; color: #6e6e6d; font-size: 14px; margin-left: 4px; line-height: 20px; background: #fff;}
.user_type .user.feel_a:after {
  position: absolute; 
  content:''; 
  width: 24px;
  height: 24px;
  left: 0;
  background-image: url(../images/icons/feeling_a.png);
  background-position: center;  
}
.user_type .user.feel_b:after {
  position: absolute; 
  content:''; 
  width: 24px;
  height: 24px;
  left: 0;
  background-image: url(../images/icons/feeling_b.png);
  background-position: center;  
}
.user_type .user.feel_c:after {
  position: absolute; 
  content:''; 
  width: 24px;
  height: 24px;
  left: 0;
  background-image: url(../images/icons/feeling_c.png);
  background-position: center;  
}
.feeling_box {
  background: #fff; border-radius: 4px; padding: 7px 16px; 
  li {margin-right: 16px;   
    &:first-child {line-height: 21px;}
    &:last-child {margin-right: 0;}
    button {width: 24px; height: 24px;position: relative;}    
  }
}
.feeling_box li button.feel_a:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_a_off.png);
  background-position: center;  
}
.feeling_box li.on button.feel_a:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_a.png);
  background-position: center;  
}
.feeling_box li button.feel_b:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_b_off.png);
  background-position: center;  
}
.feeling_box li.on button.feel_b:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_b.png);
  background-position: center;  
}
.feeling_box li button.feel_c:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_c_off.png);
  background-position: center;  
}
.feeling_box li.on button.feel_c:after {
  position: absolute;
  content:'';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/feeling_c.png);
  background-position: center;  
}

//커뮤니티탭
.detail_container.tab3 {margin: 24px auto 100px;} 
.detail_container.tab3 .list_wrap {
  margin-top: 0 ;background: #f9f9f9; padding: 8px; border-bottom: 2px solid #ff8e40;
  li {
    background: #fff; margin-bottom: 8px; padding: 8px 16px;
    &:last-child {margin-bottom: 0;}
    a {width: 100%;}
  }
}
.detail_container.tab3 .date {color: #6e6e6d; font-size: 14px;}
.detail_container.tab3 .user {margin-bottom: 0;}
.detail_container.tab3 .user_label {color: #6e6e6d; border: none; font-size: 13px; line-height: 23px;}
.detail_container.tab3 .title {line-height: 1.5;}

//커뮤니티탭 상세
.detail .detail_container.tab3 .user_label {border: 1px solid #e9edf1;}
//커뮤니티탭 글작성하기
.detail_cont.add {
  .add_area {
    margin: 48px 0; padding: 0 16px; 
    textarea {border-radius: 2px;}
    .feeling_box {background: #f8f9fb;}
  }
  .add_top p {margin-top: 11px;}
  .count_input {
    position: relative;
    input {padding: 16px 13px; height: auto; border-radius: 2px;}
    .text_count {
      position: absolute;
      color: #bfbfbf;
      right: 16px;
      bottom: 10px;
    }
  } 
}
.info_text {
  position: relative;
  padding-left: 34px;  
  width: max-content;
  margin: 16px auto 8px;
  line-height: 24px;
  &:after {position: absolute; content:''; width: 24px; height: 24px; top:0; left:0; background-image:url(../images/icons/info_icon.png); background-position: center;}
}
.radio_wrap{width: 386px; height: 40px; border-radius:6px;border:1px solid #d0d0cf;overflow: hidden;
  li{width:50%; height: 100%;}   
}
.radio_wrap  input[type="radio"] {display: none;}
.radio_wrap  input[type="radio"] + label{width: 100% ; height: 100%; text-align: center; font-size: 14px; color: #343332;padding: 10px 0; background: #ffffff; display: block; cursor: pointer;}
.radio_wrap  input[type="radio"]:checked + label {color: #fff; background: #fe8d40;}

//부가정보탭
.detail_container.tab4 .detail_table_title:last-of-type {margin-top: 60px;}
.detail_container.tab4 {margin: 60px auto 100px;} 
.down_list {
  li{
    padding: 10px 30px;    
    border-bottom: 1px solid #eaedf1;
    p {width: calc(100% - 120px);line-height: 30px;
    }
    button{      
      img {margin-left: 5px;}
    }    
  } 
}
.container.tab5 {margin: 0 auto 100px;}
.container.tab5 .table_wrap:first-of-type {width: 50%;}
.container.tab5 .table_wrap:last-of-type {width: 40%;}
.tab_table {width: 100%;   border-bottom: 2px solid #fe8d40;}
.tab_table tr th , td {padding: 8px; font-size: 13px; text-align: center; border: 1px solid #eaedf1;}
.tab_table tr th:first-child  , .tab_table tr td:first-child {border-left: none;}
.tab_table tr th:last-child  , .tab_table tr td:last-child {border-right: none;}
.tab_table tr th {background: #f9f9f9;} 




//투자하기 ----------------------------------------------------------------------
//노데이터
.no_data {
  background: #f8f9fb; padding: 48px 0 40px;
  img {margin-bottom: 31px;}
}

.invest_page {
  .title_wrap {
    width: 588px; 
    margin: 0 auto 24px;
    padding: 8px 0 16px;
    border-bottom: 1px solid #eaedf1;
    h1 {font-size: 50px; line-height: 74px;}
    h3 {font-size: 20px; line-height: 30px;}
  }
  .input_wrap {
    ul{
        width: 55%;
      li {
        width: calc(33.333% - 16px);
        margin-right: 24px;
        &:last-child {margin-right: 0;}
        select {width: 100%;}
      }  
    }    
  }
  .search_box{
    position: relative;
    input {width: 382px; height: 48px;}
    button {width: 48px; height: 48px; position: absolute; right: 0; top: 0; }
    .search_btn{
      background-image: url(../images/icons/search_icon.png);
      background-position: center;     
      background-repeat: no-repeat;
    }
    .delete_btn{
      display: none;
      background-image: url(../images/icons/delete_icon.png);
      background-position: center;     
      background-repeat: no-repeat;
    }
  }
  .cont {
    background: #f8f9fb; padding: 40px 0;
    .list_wrap {
      >li {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 24px;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
    }
  }
}

//투자하기 메인페이지--------------
.invest_page.index {
  .btn_wrap.rightT {width:auto; margin: 32px auto;}
   section {
     margin: 100px 0 124px;  
  
  }
  .section1 {
    .list_wrap li:hover {margin-top: 0;}
  }
}

//투자하기 - 지금 투자하기

//스텝진행도
.step_progress {
  margin: 40px 0;
  ul {
    width: 588px;
    margin: auto;
      li {
      display: inline-block;
      width: 33.333%;
      div {
        width: 48px;
        height: 48px;
        font-size: 18px;
        color: #b8c4d2;
        font-weight: bold;
        border: 4px solid #eaedf1;
        border-radius: 50%;
        margin-bottom: 24px;        
        text-align: center;
        line-height: 38px;
        background: #ffffff;
      }
      p { color: #b8c4d2; font-weight: bold;}
      &.now div{
        background-image: url(../images/icons/step_now.png);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
      }
      &.past div{
        background-image: url(../images/icons/step_past.png);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
      }
      &:nth-child(1) {
        position: relative;
        &:after {
          position: absolute;
          content: '';
          width: 124%;
          height: 4px;
          left: 28px;
          top: 22px;
          background: #eaedf1;
          z-index: -1;
        }    
        &.past:after {background: #ff8e40;}
      }
      &:nth-child(2) {
        position: relative;
        &:after {
          position: absolute;
          content: '';
          width: 124%;
          height: 4px;
          left: 53%;
          top: 22px;
          background: #eaedf1;
          z-index: -1;
        }
        &.past:after {background: #ff8e40;}
      }
      &:nth-child(2) div {margin: 0 auto 24px;}
      &:nth-child(3) div {margin-left: auto;}
      &.now p {color: #343332;}
    }
  }
}
//스탭 컨텐츠
.step {
  .cont {
    background: #fff;
    margin-bottom: 40px;
    padding: 0;
    >div.w50 {width: calc(50% - 12px) ; }
    >div {border: 1px solid #eaedf1;}
    .total {padding: 24px 16px; 
      h3 {font-size: 15px;
      span {font-size: 24px; margin-left: 12px;}
      }
    }
  }
  .title_box {
    border-bottom: 1px solid #eaedf1;
    padding: 8px 0 16px;
    margin-bottom: 42px;
    h1 {font-size: 50px; line-height: 74px;}
  }
}

.top_table {
  border-bottom: 2px solid #ff8e40;
  border-top: 2px solid #ff8e40;
  margin-bottom: 48px;
   li{
     width: 16.6667%;
     padding: 8px;
     text-align: center;
     font-size: 14px;
     line-height: 1.57;
      &.th {
        background: #f9f9f9;
        color: #000;
      }
   }
}
.title_area {
  border-top: 2px solid #ff8e40;
  h2 {font-size: 18px; line-height: 28px; color: #000;}
  padding: 12px 16px;
  p {
    margin-top: 16px; font-size: 14px; line-height: 22px;
    span {color: #ff8e40; font-size: 14px;
      &.red {color: #ff513e;}
    }
  }
}

.item_box {
  .img_box {
    height: 210px;
    img {width: 100%;}
  }
  .text {
    height: calc(100% - 210px);
    min-height: 130px;
    padding:12px 16px;
    h4 {font-size: 18px; line-height: 28px;}
  }
}
.funding_box {  
    padding: 24px 16px;
    p {margin-bottom: 4px;
    &:last-of-type {margin-bottom: 16px;}
    }
}
.cont.radio {
  >div>ul {padding: 16px;}
  >div>ul>li {
    width: calc(50% - 12px) ; 
    p {line-height: 22px; padding: 9px 0;}
 }
}