body {
  margin: 0;
  font-family: Play, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin position_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

//slide-------------------------
.slick-slider { width: 100%;
  .slick-list , .slick-track , .slick-slide { width: 100%; 
    &>div { width: 100%; }
  }
  .slick-arrow { display: none !important;  }
}
.main_banner .slick-slider {height: 100%;}
.main_banner .slick-list {height: 100%;}
.main_banner .slick-slider .slick-list > div, .main_banner .slick-slider .slick-track > div, .main_banner .slick-slider .slick-slide > div {
  height: 100%;
}
.dot_wrap {
  margin: 16px auto 24px;
  width: max-content;
  li { 
    width: 8px;
     height: 8px; 
     background: #343332;    
     opacity: 0.2;
     border-radius: 50%;
     margin-right: 16px;
     &.active {background: #ff8e40; opacity: 1;}
  &:last-child {margin-right: 0 !important;}
  }
}
.main_banner_wrap {position: relative;}
.main_banner_wrap .dot_wrap {
  position: absolute; 
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%);
}
.main_banner_wrap .dot_wrap li {
  width: 120px;
  height: 8px;
  border-radius: 0;
  margin-right: 12px;
}
//common-------------------------------
.mo_only {display: none;}

//css------------------------------------
//index
.index{ 
  .main_banner {
    width: 100%;
    height: 700px;    
    overflow: hidden;
    background-image: url(../images/main_banner_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   &.mo {
    background-image: url(../images/main_banner_bg_mo.png);   
   }
   li {
    height: 100%;
  }
    a{
      width: 100%; 
      height: 100%; 
      position: relative;
    }   
    .text{
      position: absolute;
      left: 15%; 
      top: 50%;
      transform: translateY(-50%);
      h1{
        margin-bottom: 16px;
        font-size: 60px; 
        &:first-child{
          font-weight: normal;
        }
      }
      p{
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-bottom: 16px;
      }
      button{
        padding: 12px 64px;
        border: 1px solid #fff;
        border-radius: 2px;
        >img{
          width: auto;
          margin-left: 16px;
          display: inline-block !important;
        }
      }
    }
  }
  .title {
    font-size: 55px;
    font-weight: bold;
    color: #343332;
  }
  .sub_title {
    font-size: 20px;
    color: #535352;
    margin-top: 8px;
    line-height: 1.5;
  }
  .section1 {
    padding: 98px 0;        
    }  
    .btn_wrap{
      margin-top: 48px;
    }
}

.list_wrap{   
  margin-top: 48px;
  a {
    height: 100%;
  }    
  li.slick-item{
    width: calc(33.333% - 16px);
    height: 376px;
    border-radius: 4px;
    margin-right: 24px;    
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.3s;
      &:hover {
        margin-top: -20px;
      }
      &:last-child {margin-right: 0;}
      .img_box {
        width: 100%; height: 55%; position: relative; overflow: hidden;
        img {
          width: 100%;
          @include position_img;
        }
        .label {
          width: max-content;
          position: absolute;
          left: 16px;
          top: 12px; 
          padding: 5px 10px;
          border-radius: 2px;
          font-size: 13px;
        }
      }
      .text{
        padding: 16px 12px;       
        h2 {
          font-size: 18px; 
          margin-bottom: 8px;
        }       
        .total {
          p:first-child{
            font-size: 16px;
          }
          p:last-child{
            font-size: 14px;
            color: #b8c4d2;
          }
        }
      }
  }
}
.bar {
  height: 4px;
  background: #eeeff5;
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  &:after {
    position: absolute;
    content:'';
    width: 60%;
    height: 100%;
    background: #ff8e40;
    left: 0;
    top: 0;
  }
}
.label_wrap{
  margin-bottom: 10px;
  li {
    padding: 2px 10px;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 13px; 
    color: #8d9daf ;
    border: 1px solid #8d9daf;          
    &:last-child {
      margin-right: 0;
    }
  }       
}
//label
.label.funding {background: #ff8e40; color: #ffffff; }
.label.open {background: #3b59c8; color: #ffffff; }
.label.end {background: #dfe5ec; color: #343332; }

.more_btn {
  width: 180px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #eaedf1;
  color: #b8c4d2;
  font-size: 16px;
  img{
    margin-left: 8px;
  }
}

.section2{
  .gray_bg {
    padding: 100px 0 96px;    
  }
  ul {
    border-top:4px solid #ff8e40  ;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.14);
    margin-top: 48px;
    li{
      width: 50%;
      padding: 42px 0;
      text-align: center;
      display: flex;
       justify-content: center;
      .icon_box{
        margin-right: 45px;
          p{
            font-size: 18px;
            margin-top: 12px;
            color: #ff8e40;
            font-weight: bold;
          }
      }  
      >p{
        font-size: 50px; 
        color: #343332;
        font-weight: bold;
        line-height: 108px;
        span{
          font-size: 30px;
          color: #343332;
          font-weight: bold;
        }
      }    
    }
    
  }
}
.section3 {
  .container{
    padding: 48px 0;
    text-align: center;
    border-bottom: 1px solid #eaedf1 ;    
  }
  .hashtag{
    margin: 48px auto;
    display: inline-block;
    li{
      padding: 7px 20px;
      background: #ff8e40;
      color: #ffffff;
      font-size: 16px;
      margin-right: 24px;
      border-radius: 2px;
      &:last-child {
        margin-right: 0;
      }     
    }
  }
  .box_list {
    li{     
      width: calc(33.333% - 16px);
      height: 364px;
      margin-right: 24px;
      border: 1px solid #eaedf1;    
      text-align: center;
      padding-top: 49px;     
      transition: all 0.3s;
      border-radius: 4px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-top: 4px solid #ff8e40;
        margin-top: -16px;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      }
      &:hover h3 {
          color: #ff8e40;  
      }
      h3{
        font-size: 30px;
        margin-top: 25px;
      }
      p{
        width: 65%;
       margin: 5px auto 0;
       font-size: 18px; 
       line-height: 1.5;
      }
      img {display: inline-block !important; }
    }
  }
}

.section4 {
  .container{
    margin-top: 196px;
  }
  .list {
    padding: 56px 0 48px;
    li {
      width: calc(25% - 18px);
      margin-right: 24px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      a{
        position: relative;
        width: 100%;
        height: 172px;    
        transition: all 0.5s;     
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        &:hover .hidden_box{
          display: block;
        }   
        >img {
          width: 100%;
        }
      }     
    }
  }
}
.hidden_box {
  width: 100%;
  height: 100%; 
  position: absolute; 
  left: 0; 
  top:0; 
  background:rgba(255,142,64,0.8);
  display: none;
  padding: 65px 79px;  
  p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 16px;     
    img{
      margin-left: 17px;
    }
  }
}
.bottom_box {
  padding: 8px;
  h3 {
    font-size: 18px;
    line-height: 1.5;        
    margin-bottom: 8px;
  }     
  p {
    font-size: 16px; 
  }
}

.section5 {
  height: 240px;
  background-image: url(../images/img_img_thumnail_default.png) ;   
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 48px;
  >div{
    background: rgba(0,0,0,0.5);
    width: 100%; 
    height: 100%;   
    padding: 64px;
    h2 {
      font-size: 50px;
      color: #ffffff;       
    }
    p {
      font-size: 20px;
      margin-top: 8px;
      color: #ffffff;
      line-height: 1.5;
      &br {
        display: none;
      }
    }
  }
}

//투자하기 상세---------------------------------------------------------------------------------
.invest_index {
  padding-top: 24px;
  .title_area {
    padding-top: 24px;
    display: table;
  }
  .title_area .img_box {
    width: 588px;
    display: table-cell;
    vertical-align: middle;
    li {
      border-radius: 8px;
      overflow: hidden;
    }
    .label_wrap {margin-bottom: 8px;} 
    .slick-list {
      margin: 0 2em;
    }
  }
  .title_area .text_box {
    width: calc(100% - 628px);  
    .bar_box {
      margin-bottom: 24px;
    }
    .bar_box>div {
      margin-bottom: 8px;
      p span{
        font-size: 13px;
        color: #b8c4d2;          
        font-weight: normal;
      }
    }
    .bar {
      height: 8px;
    }
  }
  .title_box {
    border-bottom: 1px solid #eaedf1;
    margin: 0 16px 28px;
    padding: 20px 0 28px;
    .title {font-size: 28px;}
  }
  .btn_wrap {   
    text-align: center;
    margin: auto;
    button.submit {width: 384px; height: 44px; background: #ff8e40; color: #ffffff; border-radius: 4px; margin-bottom: 24px;}
    ul{
      width: 384px; 
      margin: auto;
    }
    >ul>li {
      width: calc(50% - 12px);
      padding: 4px 0;      
    }
  }
}
.invest_index .like_btn {
  width: 100%;
  padding: 5px 0 5px 22px;  
  font-weight: bold;
  background-image: url(../images/icons/like_btn.png);
  background-position: 55px center;
  background-repeat: no-repeat;      
    &.on{
      background-image: url(../images/icons/like_btn_on.png);
      background-position: 55px center;
      background-repeat: no-repeat;     
    }
}
.invest_index .share_btn {
  width: 100%;
  padding: 5px 0 5px 22px;  
  font-weight: bold;
  background-image: url(../images/icons/share_btn.png);
  background-position: 55px center;
  background-repeat: no-repeat;          
}

.open_expected {
  width: max-content;
  margin: 0 auto 16px;
  p {
    font-weight: bold;
    display: inline-block;
    margin-left: 8px; 
    vertical-align: middle;
  }
}
.open_expected_btn {
    .alarm_btn {
      width: calc(70% - 24px);
      height: 44px;
      background: #282d40;
      color: #ffffff;      
      border-radius: 4px; 
      font-size: 18px;
      line-height: 24px;
      background-image: url(../images/icons/alarm_btn.png);
      background-position: 146px center;
      background-repeat: no-repeat;      
      &.on {
        background: #5dcf17;
        background-image: url(../images/icons/alarm_btn_on.png);
        background-position: 146px center;
        background-repeat: no-repeat;      
      }
    }
    .share_btn {
      width:30%; 
      padding: 10px 0;
      background-position: 43px center;
    
    }
}
.goal_box {
  margin-bottom: 24px;
  height: 112px;
  li{
    background: #f8f9fb;        
    width: 50%;
    height: 100%;
    padding: 16px 0;
    text-align: center;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;   
    p{
      font-size: 13px; 
      line-height: 20px;      
    }
    h3 {
      font-size: 30px;
      color: #000000;
    }
  }
}






