body {
  margin: 0;
  font-family: Play, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin position_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.index{ 
  .main_banner {
    width: 100%;
    height: 700px;    
    overflow: hidden;
    a{
      width: 100%; 
      height: 100%; 
      position: relative;
    }
    img{
      width: 100%;
    }
    .text{
      position: absolute;
      left: 15%; 
      top: 50%;
      transform: translateY(-50%);
      h1{
        margin-bottom: 16px;
        font-size: 60px; 
        &:first-child{
          font-weight: normal;
        }
      }
      p{
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-bottom: 16px;
      }
      button{
        padding: 12px 64px;
        border: 1px solid #fff;
        border-radius: 2px;
        >img{
          width: auto;
          margin-left: 16px;
        }
      }
    }
  }
  .title {
    font-size: 55px;
    font-weight: bold;
    color: #343332;
  }
  .sub_title {
    font-size: 20px;
    color: #535352;
    margin-top: 8px;
    line-height: 1.5;
  }
  .section1 {
    padding: 98px 0;        
    }  
    .btn_wrap{
      margin-top: 48px;
    }

}

.list_wrap{   
  margin-top: 48px;
  a {
    height: 100%;
  }    
  >li{
    width: calc(33.333% - 16px);
    height: 376px;
    border-radius: 4px;
    margin-right: 24px;    
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.3s;
      &:hover {
        margin-top: -20px;
      }
      &:last-child {margin-right: 0;}
      .img_box {
        width: 100%; height: 55%; position: relative; overflow: hidden;
        img {
          width: 100%;
          @include position_img;
        }
        .label {
          width: max-content;
          position: absolute;
          left: 16px;
          top: 12px; 
          padding: 5px 10px;
          border-radius: 2px;
          font-size: 13px;
        }
      }
      .text{
        padding: 16px 12px;
        .label_wrap{
          margin-bottom: 10px;
          li {
            padding: 2px 10px;
            margin-right: 8px;
            border-radius: 4px;
            font-size: 13px; 
            color: #8d9daf ;
            border: 1px solid #8d9daf;          
            &:last-child {
              margin-right: 0;
            }
          }       
        }
        h2 {
          font-size: 18px; 
          margin-bottom: 8px;
        }
        .bar {
          height: 4px;
          background: #eeeff5;
          width: 100%;
          position: relative;
          margin-bottom: 8px;
          &:after {
            position: absolute;
            content:'';
            width: 60%;
            height: 100%;
            background: #ff8e40;
            left: 0;
            top: 0;

          }
        }
        .total {
          p:first-child{
            font-size: 16px;
          }
          p:last-child{
            font-size: 14px;
            color: #b8c4d2;
          }
        }
      }
  }
}
//label
.label.funding {background: #ff8e40; color: #ffffff; }
.label.open {background: #3b59c8; color: #ffffff; }
.label.end {background: #dfe5ec; color: #343332; }

.more_btn {
  width: 180px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #eaedf1;
  color: #b8c4d2;
  font-size: 16px;
  img{
    margin-left: 8px;
  }
}

.section2{
  .gray_bg {
    padding: 100px 0 96px;    
  }
  ul {
    border-top:4px solid #ff8e40  ;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.14);
    margin-top: 48px;
    li{
      width: 50%;
      padding: 42px 0;
      text-align: center;
      display: flex;
       justify-content: center;
      .icon_box{
        margin-right: 45px;
          p{
            font-size: 18px;
            margin-top: 12px;
            color: #ff8e40;
            font-weight: bold;
          }
      }  
      >p{
        font-size: 50px; 
        color: #343332;
        font-weight: bold;
        line-height: 108px;
        span{
          font-size: 30px;
          color: #343332;
          font-weight: bold;
        }
      }    
    }
    
  }
}
.section3 {
  .container{
    padding: 48px 0;
    text-align: center;
    border-bottom: 1px solid #eaedf1 ;    
  }
  .hashtag{
    margin: 48px auto;
    display: inline-block;
    li{
      padding: 7px 20px;
      background: #ff8e40;
      color: #ffffff;
      font-size: 16px;
      margin-right: 24px;
      border-radius: 2px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .box_list {
    li{     
      width: calc(33.333% - 16px);
      height: 364px;
      margin-right: 24px;
      border: 1px solid #eaedf1;    
      text-align: center;
      padding-top: 49px;     
      transition: all 0.3s;
      border-radius: 4px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-top: 4px solid #ff8e40;
        margin-top: -16px;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      }
      &:hover h3 {
          color: #ff8e40;  
      }
      h3{
        font-size: 30px;
        margin-top: 25px;
      }
      p{
        width: 65%;
       margin: 5px auto 0;
       font-size: 18px; 
       line-height: 1.5;
      }
    }
  }
}

.section4 {
  .container{
    margin-top: 196px;
  }
  .list {
    padding: 56px 0 48px;
    li {
      width: calc(25% - 18px);
      margin-right: 24px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      a{
        position: relative;
        width: 100%;
        height: 172px;    
        transition: all 0.5s;     
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        &:hover .hidden_box{
          display: block;
        }   
        >img {
          width: 100%;
        }
      }     
    }
  }
}
.hidden_box {
  width: 100%;
  height: 100%; 
  position: absolute; 
  left: 0; 
  top:0; 
  background:rgba(255,142,64,0.8);
  display: none;
  padding: 65px 79px;  
  p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 16px;     
    img{
      margin-left: 17px;
    }
  }
}
.bottom_box {
  padding: 8px;
  h3 {
    font-size: 18px;
    line-height: 1.5;        
    margin-bottom: 8px;
  }     
  p {
    font-size: 16px; 
  }
}

.section5 {
  height: 240px;
  background-image: url(/images/img_img_thumnail_default.png);
  margin-top: 48px;
  >div{
    background: rgba(0,0,0,0.5);
    width: 100%; 
    height: 100%;   
    padding: 64px;
    h2 {
      font-size: 50px;
      color: #ffffff;       
    }
    p {
      font-size: 20px;
      margin-top: 8px;
      color: #ffffff;
      line-height: 1.5;
      &br {
        display: none;
      }
    }
  }
}


