// common
.mt4{margin-top:4px;}
.mt8{margin-top:8px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px;}
.mt40{margin-top:40px;}
.mb10{margin-bottom:10px !important;}
.mb0{margin-bottom:0px !important;}
.mb4{margin-bottom:4px;}
.mr10{margin-right:10px;}
.pl8{padding-left:8px;}
.font_16{font-size: 16px;}
.red_bg{background:#ff513e !important;}
.line_h5{line-height: 1.5;}
.font_16{font-size:16px !important;}
.font_24{font-size: 24px !important;}
.sky_color{color:#eff1f7;}

.v3{
    // 공통
    .tab_ul{width:384px;
        li{width:calc(50% - 12px);position:relative;}
        li::after{content: '';position: absolute;bottom:0;left:0;width:100%;height:3px;background:#ff8e40;display: none;}
        li.on a{color:#ff8e40;}
        li.on::after{display:block;}
        li a{font-size:14px;width:100%;padding:8px 0 12px;text-align: center;}
    }
    .list_more_btn{width: 154px;height: 38px;border:1px solid #eaedf1;font-size:15px;color:#b8c4d2;
        img{margin-left:10px;}
    }
    .black_alert_p{padding-left:42px;font-size:13px;position: relative;
        img{position: absolute;left:8px;top:-4px;}
    }
    .radio_ul input[type="radio"] + label{width: 22px;height: 22px;border: 2px solid #d6d6d6;margin-right: 8px;cursor: pointer;border-radius: 50%;margin-right:8px;}
    .radio_ul input[type="radio"] + label + label{margin-top:2px;cursor: pointer;font-size:14px;font-weight: 600;}
    .radio_ul input[type="radio"]:checked + label{border:6px solid #ff8e40;}
    .title_input{position: relative;}
    .title_input p{position: absolute;font-size: 13px;color:#bfbfbf;top:50%;transform: translateY(-50%);right:16px;}
    .title_input input{height:38px;padding-right:62px;}
    .delt_btn_none .file_name .file_delete_btn{display:none;}
    .upload_btn_none {
        .file_name{width:100%;}
        .upload_btn{display:none;}
    }

    // 개설한프로젝트
    &.project{
        .top_box h1{font-size:40px;width:100%;margin-top:64px;}
        .gray_ul{padding:16px 24px;background:#f9f9f9;border-radius: 8px;
            li{min-width:88px;}
            li h4{font-size:24px;margin-bottom:6px;}
        }
        .gray_bg{background:#f8f9fb;padding:23px 0 76px;
            .container{position: relative;}
            .fixed_btn{right:0;bottom:60px;position: absolute;width:56px;height:56px;background: #ff8e40;border-radius: 50%;z-index:2;box-shadow: 0px 3px 5px rgba(0,0,0,.12);}
        }
        .no_data{padding-top:150px;
            img{margin-bottom:16px;}
            p{font-size: 24px;font-weight:bold;}
        }
        .pro_list .add_li{position: relative;
            a{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
            p{font-size:24px;margin-top:16px;}
        }
    }
    .pro_list>li{min-height:458px;width:calc(33.333% - 16px);background:#fff;border-radius:8px;margin-right:24px;margin-bottom:24px;}
    .pro_list>li:nth-child(3n){margin-right:0px;}
    .pro_list>li a{width: 100%;}
    .pro_content a{width: 100%;padding:24px 16px;
        .top_box .top{margin-bottom:24px;}
        .top_box .top p:first-child{padding-left:28px;position:relative;}
        .top_box .top p:first-child::after{position:absolute;content:'';width:12px;height:12px;background:#bfbfbf;border-radius:50%;left:0;top:50%;transform: translateY(-50%);}
        .top_box .bottom ul{margin:24px 0;}
        .top_box .bottom ul li{border:1px solid #eaedf1;color:#b8c4d2;padding:2px 16px;margin-right:8px;text-align: center;}
        .top_box .bottom .alarm_box {overflow: hidden;
            p{float: left;background:#f8f9fb;border-radius:100px;font-size: 14px;padding:11px 16px;width:calc(100% - 64px);font-weight: 500;}
            .btn_box{width:calc(100% - 64px);display:none;float:left;}
            button{float: right;width: 162px;height:38px;border-radius: 100px;background:#f8f9fb;font-size:15px;}
            .bell{float:right;width:38px;height:38px;background:#f8f9fb url(../images/icons/bell_g.png)no-repeat center;border-radius: 50%;text-align: center;font-size: 12px;color:#fff;padding-top:10px;}
        }
        .bottom_box{margin-top:28px;
            >li{margin-bottom:40px;}
            >li:last-child{margin-bottom:0px;}
            .left p{font-size:13px;margin-bottom:4px;}
            .left p span{font-size:13px;margin-left:4px;}
            .right .circle{width: 56px;height:56px;border-radius:50%;background:#eaedf1;position: relative; 
                >div{position:absolute;top:0;left:0;width:56px;height:56px;border-radius:50%;}
                .base{background:conic-gradient(#5a7cfa 0% 0%,transparent 0% 0%);}
                .over{background:conic-gradient(#5a7cfa 0% 0%,transparent 0% 0%);mix-blend-mode: multiply;}
                span{font-size:13px;color:#6e6e6d;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);z-index: 1;width: 100%;text-align: center;}
            }
            .right .circle::after{content:'';position: absolute;width:51px;height:51px;background:#fff;border-radius:50%;top:50%;left:50%;transform: translate(-50%,-50%);}
        }
    }
    .alarm_on .pro_content{
        .top_box .bottom .alarm_box .bell{background:#f8f9fb url(../images/icons/bell.png)no-repeat center;}
    }
    .btn_on .pro_content{
        .top_box .bottom .alarm_box p{display:none;}
        .top_box .bottom .alarm_box .btn_box{display:block;}
    }
    .bell_none .pro_content{
        .top_box .bottom .alarm_box .bell{display:none;}
    }
    .btn_on.bell_none .pro_content{
        .top_box .bottom .alarm_box .btn_box{float: right;}
    }
    .default_li .pro_content{
        .top_box .title{color:#bfbfbf;padding-top:24px;}
        .bottom_box .left p span{color:#bfbfbf;}
    }
    .expect_li .pro_content{
        .top_box .top p:first-child{color:#fe8d40;}
        .top_box .top p:first-child::after{background-color:#fe8d40;}
        .bottom_box>li:last-child .circle{display:none;}
    }
    .funding_li .pro_content{
        .top_box .top p:first-child{color:#5dcf17;}
        .top_box .top p:first-child::after{background-color:#5dcf17;}
    }
    .success_li .pro_content{
        .top_box .top p:first-child{color:#5a7cfa;}
        .top_box .top p:first-child::after{background-color:#5a7cfa;}
    }
    .fail_li .pro_content{
        .top_box .top p:first-child{color:#ff513e;}
        .top_box .top p:first-child::after{background-color:#ff513e;}
    }

    // 피드백
    &.feedback{
        .detail_wrap{margin-top:50px;}
        .feedback_li{padding:12px 24px;background: #f8f9fb;border-top:2px solid #eff1f7;}
        .feedback_li.top_title{background: #fff7f2;border-top:2px solid #ffa566;}
        .feedback_li span{display: none;color:#fff;background:#ff513e;border-radius:20px;padding:3px 18px;margin-right:10px;}
        .feedback_li p{font-size:22px;font-weight: 500;}
        .feedback_li.new span{display:block;}
        .detail_wrap .detail{padding:24px;
            >div>img{max-width: 100%;margin-left: auto;margin-right: auto;margin-bottom:16px;text-align:center;}
            >div>p{font-size:14px;line-height:22px;margin-bottom:16px;}
            .file_wrap{width:330px;padding:12px;background:#eff1f7;border-radius:8px;}
            .file_wrap>ul{width:calc(100% - 48px);}
            .file_wrap>ul>li{margin-bottom:16px;}
            .file_wrap>ul>li:last-child{margin-bottom:0px;}
            .file_wrap>ul>li.link_li .file_box .img_box{background:#a5add1 url(../images/icons/ic_link.png)no-repeat center;}
        }
    }
    .file_box{
        a{width:100%;padding:5px;background:#fff;border-radius:4px;}
        .img_box{width:24px;height:24px;border-radius:4px;background:#a5add1 url(../images/icons/ic_file.png)no-repeat center;}
        .txt_box{width:calc(100% - 40px);padding-top:3px;
           .font_14{margin-bottom:6px;word-break: break-all;}
           .gray2_color{word-break: break-all;}
        }

    }

    // 투자자현황
    &.investor_state{
        .gray_bg{background:#eff1f7;padding:24px;}
        .api_box{width:calc(50% - 12px);height:360px;background: #ddd;}
        .list_box{width:calc(50% - 12px);}
        .list_box>li{margin-bottom:24px;}
    }
    .investor_cont{background: #fff;border-radius: 8px;padding:10px;
        .date{font-size: 14px;color:#bfbfbf;margin-bottom:10px;}
        >ul li{font-size: 13px;color:#b8c4d2;border:1px solid #eaedf1;border-radius:2px;padding:3px 16px;margin-right:4px;}
        .box{width:100%;border-radius:8px;padding:4px 0;text-align: center;}
    }

    // 투자자의견
    &.investor_opinion{
        .gray_bg{margin-top:50px;padding:16px 24px;}
        .no_data{padding:15px 0;background:transparent;font-size: 14px;width:calc(40% - 12px);text-align: center;}
        .opinion_list{width:calc(40% - 12px);}
        .opinion_list>li{padding:8px 16px;background: #fff;border-radius:4px;margin-bottom:16px;position: relative;}
        .opinion_list>li::after{content:'New';position: absolute;font-size:13px;color:#ff513e;right:32px;top:13px;display: none;}
        .opinion_list>li::before{content:'';position: absolute;width:8px;height:8px;background:#ff513e;right:16px;top:16px;border-radius: 50%;display: none;}
        .opinion_list>li.new::after{display:block;}
        .opinion_list>li.new::before{display:block;}
        .opinion_list>li.on{background-color:#1f318d;
            .label_ul li{color:#eff1f7;background:#4c5aa4;}
            .name_box .feel{color:#fff;}
            .name_box .font_13{color:#a5add1;}
            .txt_box .ellipsis2{color:#fff;}
            .feel.a{background:url(../images/icons/feeling_a_on.png)no-repeat center left;}
            .feel.b{background:url(../images/icons/feeling_b_on.png)no-repeat center left;}
            .feel.c{background:url(../images/icons/feeling_c_on.png)no-repeat center left;}
        }
        .detail_wrap{
            .comment_box{background:#f8f9fb;padding:20px 16px 10px;
                .bottom_comment{background:#fff;padding:16px;border-top:1px solid #eaedf1;}
                .inner_box{padding:16px;background:#f9f9f9;margin-top:12px;}
                .inner_box.new{border:2px solid #ff8e40;}
                .inner_box .comment_wrap .input_wrap input[type="text"]{height:40px;}
            }
        }
    }
    .detail_wrap{width:calc(60% - 12px);
        .text_box{background:#fff;padding:24px 16px;}
        .title_box{padding:0 16px;background:#a5add1;border-bottom:2px solid #1f318d;height: 52px;
            h3{line-height: 52px;}
            button{height:100%;}
        }
    }
    .opinion_cont{
        .label_ul li{background:#fff;font-size: 13px;color:#b8c4d2;border:1px solid #eaedf1;border-radius:2px;padding:3px 16px;margin-right:12px;}
        .name_box{margin-top:12px;margin-bottom:12px;
            .feel{font-size:14px;padding:0px 0 4px 28px;margin-right:4px;}
            .feel.a{background:url(../images/icons/feeling_a.png)no-repeat center left;}
            .feel.b{background:url(../images/icons/feeling_b.png)no-repeat center left;}
            .feel.c{background:url(../images/icons/feeling_c.png)no-repeat center left;}
            .label{font-size: 13px;color:#6e6e6d
                ;border:1px solid #eaedf1;border-radius:2px;padding:3px 16px;}
        }
        .txt_box{
            .txt_title{font-size:18px;margin-bottom:12px;}
            .txt_date{font-size:13px;color:#b8c4d2;margin-bottom:12px;}
            .ellipsis2{line-height: 1.5;}
            .txt_btn{width: 88px;height: 38px;border:1px solid #eaedf1;background:#fff;line-height: 38px;font-size: 15px;border-radius:4px;margin-top:12px;}
        }
    }
    .comment_wrap{
        .comment_title{font-size:18px;font-weight: bold;margin-top:12px;}
        .comment_title span{margin-left: 10px;}
        .input_wrap{
            input[type="text"]{height:48px;margin-top:12px;}
            .feel_box>div{background:#fff;border-radius:4px;padding:7px 16px;}
            .feel_box>div>p{padding-top:5px;}
            .feel_box li{width:24px;height:24px;margin-right:16px;}
            .feel_box li:last-child{margin-right:0px;}
            .feel_box li input[type="radio"] + label{width:24px;height:24px;display: block;cursor: pointer;}
            .feel_box li:nth-child(1) input[type="radio"] + label{background: url(../images/icons/feeling_c.png)no-repeat center;}
            .feel_box li:nth-child(2) input[type="radio"] + label{background: url(../images/icons/feeling_b.png)no-repeat center;}
            .feel_box li:nth-child(3) input[type="radio"] + label{background: url(../images/icons/feeling_a.png)no-repeat center;}
            .feel_box button{width:97px;height:38px;line-height: 38px;font-size: 15px;}
        }
    }

    // 새소식관리
    &.news{
        .gray_bg{padding:24px;margin-top:50px;}
        .news_wrap{width:calc(40% - 12px);
            .title_box{padding:10px 16px;}
            .title_box h3 span{color:#1f318d;margin-left:10px;}
            .title_box .btn{width:105px;height:30px;line-height: 30px;padding:0px;}
            .list_box{border-top:2px solid #1f318d;border-bottom:2px solid #1f318d;
                .top_ul{background:#f9f9f9;
                    li:first-child{width:calc(100% - 112px);padding:8px 0;border-right:1px solid #eaedf1;}
                    li:last-child{width:112px;padding:8px 0;}
                }
                .bottom_ul{
                    li{background:#fff;border-top:1px solid #eaedf1;position: relative;}
                    li>div:first-child{width:calc(100% - 112px);border-right:1px solid #eaedf1;padding:8px 16px;}
                    li .label_box p{border-radius: 2px;border:1px solid #eaedf1;font-size:13px;color:#b8c4d2;padding:2px 16px;margin-right:4px;}
                    li .label_box span{font-size: 13px;color:#fff;border-radius:100px;padding:3px 12px;background:#bfbfbf;}
                    li>div:last-child{width:112px;position: absolute;top:0;right:0;height: 100%;}
                    li>div:last-child p{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);width: 100%;text-align: center;}
                    li.on{background:#1f318d;
                        .label_box p{background:#4c5aa4;}
                        .label_box span{background:#4c5aa4 !important;}
                        .label_box + p{color:#fff;}
                        >div:last-child p{color:#a5add1;}
                    }
                }
            }
        }
        .detail_wrap{width:calc(60% - 12px);
            .text_box .opinion_cont .label_ul li{margin-right:4px;}
            .text_box .opinion_cont .label_ul .news_label{font-size: 13px;color:#fff;border-radius:100px;padding:3px 12px;background:#bfbfbf;}
            .text_box .opinion_cont .txt_title{margin-top:12px;}
            .text_box .btn_box{margin-top:12px;text-align:right;
                button{width:107px;height:38px;font-size: 15px;font-weight: 500;}
            }
            .bottom_box{padding:24px 16px;background:#f8f9fb;
                div{padding-top:16px;border-top:1px solid #eaedf1;line-height: 1.5;}
            }
        }
    }
    &.news_write{
        .gray_bg{padding:24px;}
        .left_wrap{width: calc(40% - 12px);
           .radio_ul{background:#fff;padding:8px;border-radius:8px;}
           .radio_ul + p img{margin-right:10px;}
        }
        .right_wrap{width:calc(60% - 12px);
            .upload_box .file_upload .file_name .file_delete_btn{display:none;}
            .file_ul .file_upload .file_name{width:100%;}
            .file_ul .file_upload .upload_btn{display:none;}
            .file_upload .file_name input{border:none;}
            .btn_wrap button{width:180px;height:38px;font-size: 15px;}
        }
    }
    // 결산자료제출
    &.v3_data{
        .gray_bg{padding:24px;}
        .reject_box{
            .border_text{padding:12px 0 !important;}
        }
        .not_season{
            >div{width: 40%;}
            .right_box div{background:#eff1f7;padding:8px 0px;}
        }
        .season_box{
            .notice_box{padding:16px 0;margin:0;
                .border_text::after{left:0;}
            }
            .info_box{padding:16px;background:#f8f9fb;border-top:1px solid #eaedf1;border-bottom:1px solid #eaedf1;}
            .pro_content a{padding:0px;}
            .pro_content .top_box{width:calc(40% - 12px);float:left;margin-top:0px;margin-right:24px;}
            .pro_content .bottom_box{width:calc(40% - 12px);float:left;}
            .bottom_box{
                ul{background:#fff;padding:24px 16px;}
                button{height:38px;font-size:15px;margin-top:10px;}
            }
        }
        .red_box{padding:8px;background:#ffdcd8;border-radius:4px;
            >.txt_box{width:100%;}
            ul{width: 40%;}
        }
        .bottom_cont{
            .top_wrap{background:#fff;padding:40px 16px 32px;
                .notice_box{width:calc(100% + 32px);margin-left:-16px;}
                .gray_box{padding:8px;background:#f8f9fb;margin-top: 16px;}
            }
            .write_box{padding-top:16px;}
        }
        .btn_wrap button{width:180px;height:38px;font-size:15px;border-radius:4px;}
    }
    // 약관확인
    &.terms_check{
        .title_wrap{width:964px;padding:0 0 16px;margin-top:40px;}
        .terms_wrap{width:588px;margin:40px auto 0;
            .agree_box{border-top:none;}
            .agree_box .agree_wrap{display:block;}
            .agree_box .agree_wrap .oc-scrollbar-container{height:310px;display: block;}
            .agree_box .agree_wrap:first-child .oc-scrollbar-container{display:block;}
            .agree_box .agree_wrap .check_wrap.on{background:#ff8e40;}
            .agree_box .agree_wrap .check_wrap.on .label_txt{color:#fff;}
            .agree_box .agree_wrap .agree_btn{width:100%;height:38PX;color: #fff;font-size:15px;background:#282d40;margin-top:16px;}
            .agree_box .agree_wrap .info_txt {
                height: 330px; transition: .3s; overflow: hidden;

                &.hide { height: 0; }
            }
        }
        .btn_wrap{margin-top:40px;padding-bottom:0px;
            button{font-size:15px !important;}
        }
    }
    // 투자준비하기
    &.invest_page{
        .prepare_ul {
            li .txt p:nth-of-type(1){padding-top:12px;}
            li .txt p{padding:0 0 2px;}
            li .certify_box p{margin-top:17px;}
            li .certify_box p span{font-size: 20px;font-weight: bold;color:#bfbfbf;margin-right:11px;}
            li .certify_box p img{margin-right:8px;}
            li .li_top_wrap{position: relative;
                button{position: absolute;top:50%;right:0px;transform:translateY(-50%);margin-top:0px;}
            }
            .address_li>p br{display:none;}
            button{height:38px;font-size: 15px;}
        }

    }
    // 법인회원투자준비
    &.invest_prepare2{
        .title_wrap{width:964px;margin:30px auto 40px;
            h3{font-weight: normal;}
        }
        .wrap>div{width:calc(50% - 12px);}
        .wrap .left .email_box{width:256px;border-radius:100px;overflow: hidden;border:1px solid #c5c5c5;
            >p{padding:4px 12px;text-align: center;font-weight: 600;}
            >p:last-child{text-decoration: underline;}

        }
        .wrap .right{margin-top:55px;
            .downBtn{width:100%;height:38px;font-size: 15px;color:#fff;background:#ffa566;border-radius:4px;}
            .gray_box{background:#f8f9fb;padding:8px;margin-bottom:4px;}
        }
        .btn_wrap button{font-size:15px;}
    }
}

// 투자정보입력
.invest_page.step{
    .cont.card_cont{
        .card_box>div{width:calc(50% - 12px);}
        .card_box .left .card{
            width: 384px;margin:24px auto;border-radius: 8px;background:#4c5aa4 url(../images/card_img.png)no-repeat right bottom;
            .bank_name{padding:6px 8px 4px;
                button{font-size: 15px;background:#fff;padding:2px 8px;border-radius:4px;font-weight: 600;}
            }
            .bottom{padding:0 8px 8px;position: relative;
                input{width:calc(100% + 16px);margin-left:-8px;height: 32px;background:#eff1f7;border-radius: 0;padding:4px 8px;font-size: 20px;font-weight: bold;margin-bottom:10px;font-family: 'Play', sans-serif;}
                >div{margin-top:70px;}
                .refresh_btn{font-size:14px;color:#fff;font-weight: 600;background:#a5add1 url(../images/icons/ic_refresh.png) no-repeat center left;border-radius:4px;padding:4px 4px 4px 28px;margin-top:32px;}
                .right_txt{
                    p:first-child{margin-bottom:5px;}
                    p:last-child{font-size: 24px;font-weight: bold;
                        span{margin-left:4px;}
                    }
                }
            }
            .bottom::after{position: absolute;content:'';width:100%;height:2px;background:#fff;top:34px;left:0;}
        }
        .card_box .right>div{padding:24px;}
    }
}


// 증권계좌본인인증 팝업
.invest_check_pop{
    .top_title_box{margin-bottom:32px;
        ul{margin-bottom:20px;}
        ul li{width:8px;height:8px;border-radius: 50%;margin-right:8px;background:rgba(52,51,50,.2);}
        ul li.on{background:#ff8e40;}
    }
    .account_wrap{width:248px;margin:40px auto;}
    .account_box{width:216px;padding:32px 0;background:#f9f9f9;box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);text-align: center;border-radius: 8px;margin:0 auto;}
    .change_btn{width:104px;height:38px;margin-top:24px;font-size: 15px;font-weight:600;}
    .certify_wrap{margin-bottom:26px;
        .num_input_box{position: relative;width:calc(100% - 138px);}
        .num_input_box input{height:38px;width:100%;padding:0 55px 0 16px;}
        .num_input_box .time{position: absolute;top:50%;transform:translateY(-50%);right:16px;font-size:13px;color:#bfbfbf;}
        .num_input_box + button{width:130px;height:38px;font-size:15px;}
    }
    .btn_wrap button{height:38px;font-size:15px;}
}
.invest_check_pop.mo_invest{
    .top_txt{text-align:left;}
}

// 신분증인증팝업
.identity_pop{
    .red_box{padding:8px;border-radius: 4px;background:#ffdcd8;margin-top:24px;}
    .btn_wrap button{font-size:15px;}
}