//back_header
.back_header {
     display: none;
     border: none;
     >div{
          padding: 16px 24px;
     }     
     .back_btn {
          width: 24px;
          height: 24px;
          img{ width: 100%;}
     }
     .notice_bell {margin-right: 0;}
}

.v3{     
     //common 
     .width_100 {width: 100% !important;}
     .ul_50{
          li{
               width: calc(50% - 12px);
               margin-right: 24px;
               &:nth-child(2n) {
                    margin-right: 0;
               }
          }
     }
     .check_list {
          li{
               margin-bottom: 24px;
               p {margin-top: 5px; color: #bfbfbf; font-size: 13px;}
          }
     }
     //btn
     .bottom_btn {
          padding: 24px;
     }
     .btn {
          background-color: #ff8e40; color: #fff; font-size: 15px; padding: 11px; width: 160px; height: 44px; line-height: 24px;
          &.big {width: 328px; margin-bottom: 24px;}
     } 
     .btn + button {margin-left: 8px;}
     
   
     //프로젝트 스튜디오 gnb
     &.studio_gnb{
          position: relative;
          width: 306px;
          height: 100vh;
          background-color: #ffffff;
          &.off {
               width: 102px;
               .gnb_wrap { background-color: #1f318d;}
               .menu_btn {display: block;}
               .studio_btn {display: none;}
               .state_box {display: none;}
               .top {display: none;}
               .pc {display: none;}
               .mo {display: block;}
               
          }
          .gnb_btn {
               position: absolute;
               right: -56px;
               top: 0;
               padding: 16px;
               img {width: 24px;}
              
          }
          .menu_btn {
               display: none;
               text-align: center;
               button{
               width: 40px; 
               height: 40px;
               background-image: url(../images/icons/hamburger.png);
               background-size: 40px;
               background-repeat: no-repeat;
               background-position: center;
               }
          }     
          .gnb_wrap{
               width: 100%; 
               height: 100% ;  
               background-color: #eff1f7;
               border-radius: 0 20px 20px 0;
               padding: 0 0 24px;
               
               .top{
                    padding: 56px 16px 32px;
                    border-radius: 0 20px 0 0;
                    background-color: #1f318d;
                    img {width: 126px; padding-bottom: 16px;}
                    h1 {font-size: 18px; color: #ffffff; }
               }
               .state_box_wrap {
                    background-color: #1f318d;
                    border-radius: 0 0 20px 0;
                    padding: 0 16px 24px;
                    .state_box {
                         background: #fff;
                         border-radius: 8px;
                         padding: 24px 16px;
                    }
               }
               .pc {
                    background: linear-gradient(to right, #1f318d, #1f318d, #eff1f7);
                    padding: 0 0 0 16px;
                    li{
                         padding: 12px 24px;
                         border-radius: 20px 0  0 20px;
                         background-color: #1f318d;
                         a{
                              width: 100%;
                              height: 100%;
                              font-size: 18px;
                              line-height: 24px;
                              font-weight: bold;
                              color: #fff;
                              &.arrow {
                                   background-image: url(../images/icons/ic_ic_arrow_ic_view_more.png);
                                   background-size: 24px;
                                   background-repeat: no-repeat;
                                   background-position: right;
                              }
                              .count {
                                   color: #ffffff; 
                                   font-size: 14px; 
                                   font-weight: 500;
                                   background-color: #ff8e40;
                                   padding: 5px;
                                   min-width: 24px;
                                   height: 26px;
                                   float: right;
                                   margin-right: 24px;
                                   border-radius: 13px;
                                   text-align:  center;
                              }
                         }
                         &.alert {
                              img {
                                  width: 24px;
                                  float: right;
                                  margin-right: 24px;
                                  
                                   
                              }

                         }
                         &.sub_menu{
                              padding: 6px 24px 6px 32px;
                              a{
                                   font-size: 14px;
                                   font-weight: 400;
                              }
                         }
                         &.on {
                              background-color: #eff1f7;
                              a {color: #343332;}
                         }
                         &.next {
                              border-radius: 0 20px  0 0;
                         }
                    }
                    
               }
               .mo {display: none;}
          }
          .bottom{
               background-color: #1f318d;
               padding: 24px 16px 191px;
               border-radius: 0 0 20px 0;
               .studio_btn {
                    padding: 8px 24px;
                    color: #fff;
                    font-size: 15px; 
                    font-weight: 500;
                    background-color: #4c5aa4;
                    border-radius: 4px;
               }
          }
         
     }
     >.gnb_off {
          .cont {
               width: calc(100% - 102px);
          }
     }
     //컨텐츠
     .cont {
          width: calc(100% - 306px);
          .container {
               width: 100%;
               padding: 0 24px ;
          }
          .top_box {
               margin-top: 80px;
               h1 {font-size: 30px; color: #343332;   margin-bottom: 8px; }
               .tab_ul {
                    li {
                         width: auto;
                         a { padding: 8px 13px 12px; }
                    }
               }

          }
          .gray_bg {
               padding-top: 24px;
               background-color: #eff1f7;
               .notice_box {
                    width: 100%;
                    background: #fff;
                    padding: 16px;
                    margin: 0 0 24px;
                    .border_text {
                         position: relative;
                         font-size: 14px; 
                         color: #343332; 
                         line-height: 22px ; 
                         padding: 8px 16px;
                         &:after {position: absolute; content: ''; left: -16px; top: 0; width: 4px; height: 100%; background: #ff8e40; border-radius: 0 3px 3px 0;}
                         
                    }
               }
               .bd_box {
                    padding: 16px;
                    border-top: 2px solid #ffa566;
                    background: #fff;
                    margin-bottom: 36px;
                    &:last-of-type {margin-bottom: 0;}
                    .box_title {
                         h3 {
                              font-size: 16px; color:#343332; margin-bottom: 4px;
                              span {font-size: 20px; color: #ff8e40;}
                              .star {color: #ff513e; font-size: 16px;}
                         }
                         p {color: #6e6e6d; font-size: 13px; margin-bottom: 4px; line-height: 20px;}
                         .error {font-size: 13px; color: #ff513e;}
                         .label {color: #fff; font-size: 13px; padding: 2px 12px; background-color:#ff8e40; display: inline-block; margin-bottom: 16px; border-radius: 12px;}
                         
                    }
                    .left {width: 30%; margin-right: 32px;}
                    .right {
                         width: calc(70% - 32px);
                    }
                    .gray_box {
                         width: 100%;
                         margin-top: 16px;
                         background-color: #f9f9f9;
                         padding: 16px;
                         .tag_list {
                              text-align: center;
                              li {
                                   padding: 8px 24px; background: #fff; font-size: 15px; color: #ff8e40; margin-right: 24px;text-align: center;
                                   border-radius: 18px;
                                   display: inline-block;
                                   &:last-child {margin-right: 0;
                                   }                                   
                              }
                         }
                    }
               }
          }
          .radio_box {
               width: 100%;
               height: 40px;
               border: 1px solid #eaedf1;
               border-radius: 20px;
               padding: 9px 16px;
               &.on {background-color:#ff8e40 ;}
               input[type=radio] + label {
                    width: 22px;
                    height: 22px;
                    border:2px solid #d6d6d6;
                    margin-right:8px;
                    float:left;
                    cursor:pointer;
                    border-radius: 50%;
               }
               input[type=radio]:checked + label {
                    border:2px solid #fff;
               }
               input[type=radio] + label + label {
                    font-size: 15px;
                    color: #535352;
               }
          }
          .check_box {
               width: 100%;
               height: 40px;
               border: 1px solid #eaedf1;
               border-radius: 20px;
               padding: 9px 16px;
               &.on {background-color:#ff8e40 ;}
               input[type=checkbox] + label {
                    width: 22px;
                    height: 22px;
                    border:2px solid #d6d6d6;
                    margin-right:8px;
                    float:left;
                    cursor:pointer;
                    border-radius: 50%;
               }
               input[type=checkbox]:checked + label {
                    border:2px solid #fff;
               }
               input[type=checkbox] + label + label {
                    font-size: 15px;
                    color: #535352;
               }
          }
     }
}